.header {
  // position: absolute;
  // width: 100%;
  // top: 0;
  // left: 0;
  // z-index: 1;

  &__nav {
    @include centeredFlex($justify: space-between);
    padding-top: 16px;
    @media screen and (min-width: $tablet) {
      padding-top: 24px;
      padding-bottom: 26px;
    }
  }
  &__logo {
    @include logo($size: 36px, $color: var(--white-color));
    padding-bottom: 7px;
    line-height: calc(39px / 36px);
    @media screen and (min-width: $tablet) {
      font-size: 40px;
      line-height: calc(43px / 40px);
    }
  }
  &__main-nav {
    @include centeredFlex();
    gap: 20px;
    @media screen and (min-width: $tablet) {
      gap: 72px;
    }
  }
  &__page-nav {
    @include centeredFlex();
    gap: 6px;
    @media screen and (min-width: $tablet) {
      gap: 32px;
    }
  }
  &__page {
    color: var(--brand-color);
    font-weight: 500;
    @media screen and (min-width: $tablet) {
      font-size: 20px;
      line-height: calc(24px / 20px);
    }
  }
  &__nav-info {
    @media screen and (min-width: $tablet) {
      @include centeredFlex();
      padding: 0 8px;
      gap: 8px;
      border: 1px solid rgba(243, 198, 83, 0.7);
      border-radius: 2px;
    }
  }
  &__icon {
    display: block;
    fill: var(--brand-color);
  }
  &__number {
    display: none;
    @media screen and (min-width: $tablet) {
      display: block;
      padding-top: 11px;
      padding-bottom: 12px;
      color: var(--white-color);
      font-weight: 400;
      font-size: 14px;
      line-height: calc(17px / 14px);
    }
  }
  &__number--margin {
    @media screen and (min-width: $tablet) {
      margin-right: 8px;
    }
  }
  &__socials {
    display: none;
    @media screen and (min-width: $desktop) {
      @include centeredFlex();
      gap: 20px;
    }
  }
  &__socials-icon {
    fill: var(--brand-color);
  }
}
.room-hero .header {
  background: linear-gradient(
    180deg,
    #000000 0%,
    rgba(0, 0, 0, 0.55) 54.17%,
    rgba(0, 0, 0, 0) 100%
  );
  padding-bottom: 73px;
}
