.main-contacts{
    padding-top: 0;
    position: relative;

&__info{
@media screen and (min-width: $mobile) and (max-width: 1023px) {
margin-bottom: 32px;
}
@media screen and (min-width: $tablet) {
gap: 26px;
margin: 0;
margin-left: 47px;
}
@media screen and (min-width: $desktop) {
gap: 32px;}
}
&__nav {
gap: 72px;

@media screen and (min-width: $tablet) {
gap: 72px;}
}
&__title{
font-family: 'Film P3', sans-serif;
font-weight: 700;
left: 0;
letter-spacing: 0.3em;
line-height: 1.08;
color: var(--title-color);
text-transform: uppercase;
font-style: normal;
font-size: 64px;
margin-top: 56px;
letter-spacing: 0.3em;
}

&__title-second{
left: 0;
font-family: 'Film P3', sans-serif;
color: var(--secondary-text-color);
font-style: normal;
font-weight: 600;
padding-top: 8px;
font-size: 16px;
line-height: 1.25;
letter-spacing: 0.02em;
text-transform: uppercase;
}
    
&__location {
display: flex;
gap: 6px;
align-items: center;
margin-top: 16px;

@media screen and (min-width: $tablet) {
gap: 32px;
width: fit-content;
margin-right: 0px;
display: block;
margin-top: 52px;}
}

&__location-page {
color: var(--brand-color);
font-weight: 500;
display: flex;

  
@media screen and (min-width: $tablet) {
font-size: 20px;
display: block;
transform: translateY(-100%);}
}

&__location-info {
padding: 0 8px;
display: flex;
background-color: var(--white-color);
gap: 8px;
border: 1px solid rgba(243, 198, 83, 0.7);
border-radius: 2px;

@media screen and (min-width: $tablet) {
@include centeredFlex();
padding: 0 8px;
background-color: var(--white-color);
gap: 8px;
border: 1px solid rgba(243, 198, 83, 0.7);
border-radius: 2px;}
}

&__icon {
display: block;
fill: var(--brand-color);
}
&__number {
display: block;
padding-right: 8px;
color: var( --title-color);
font-weight: 400;
font-size: 14px;
line-height: calc(17px / 14px);
letter-spacing: 0.02em;

@media screen and (min-width: $tablet) {
padding-top: 11px;
padding-bottom: 12px;
color: var(--black-color);
font-weight: 400;
font-size: 14px;
line-height: calc(17px / 14px);}
}

&__number--margin {

@media screen and (min-width: $tablet) {
margin-right: 8px;}
}

&__location-text {
  display: block;
  padding-right: 8px;
  color: var( --title-color);
  font-weight: 400;
  font-size: 16px;
  line-height: calc(20px / 16px);
  letter-spacing: 0.02em;
}

&__location-info {
@media screen and (min-width: $tablet) {
@include centeredFlex();
padding: 0 8px;
gap: 8px;
border: 1px solid rgba(243, 198, 83, 0.7);
border-radius: 2px;}
}

&__location-restaurant{
display: flex;
align-items: center;
background-color: var(--white-color);
gap: 8px;
border: 1px solid rgba(243, 198, 83, 0.7);
border-radius: 2px;
margin-left: 28px;

@media screen and (min-width: $tablet){ 
display: flex;
align-items: center;
margin-left:0px;
background-color: var(--white-color);
gap: 8px;
width: fit-content;
border: 1px solid rgba(243, 198, 83, 0.7);
border-radius: 2px;}
}

&__location-hotel{
display: flex;
align-items: center;
background-color: var(--white-color);
gap: 8px;
border: 1px solid rgba(243, 198, 83, 0.7);
border-radius: 2px;
margin-left: 54px;

@media screen and (min-width: $tablet) {
  display: flex;
  align-items: center;
  margin-left:0px;
  background-color: var(--white-color);
  gap: 8px;
  font-weight: 400;
  line-height: calc(20px / 16px);
  width: fit-content;
  border: 1px solid rgba(243, 198, 83, 0.7);
  border-radius: 2px;}
}
&__location-maps{
  display: flex;
  align-items: center;
  background-color: var(--white-color);
  gap: 8px;
  border: 1px solid rgba(243, 198, 83, 0.7);
  border-radius: 2px;
  margin-left: 108px;

  @media screen and (min-width: $tablet) {
    display: flex;
    align-items: center;
    margin-left:0px;
    background-color: var(--white-color);
    gap: 8px;
    margin-bottom: 44px;
    width: 285px;
    border: 1px solid rgba(243, 198, 83, 0.7);
    border-radius: 2px;}
  }

&__location-picture{
margin-top: 15px;
margin-bottom: 15px;
border: 1px solid var(--section-text-color);
box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
border-radius: 2px;

  @media screen and (min-width: $tablet) {
    margin-right: 47px;
    width: 535px;
    border-radius: 2px;
    margin-right: 47px;
    transform: translateX(75%);
    bottom: 0px;
    margin-bottom: 0px;
    position: absolute;
    }
}
}