.main-restaurant .container {
  display: flex;
  flex-direction: column;
  gap: 32px;
  @media screen and (min-width: $tablet) {
    gap: 0;
  }
}

.main-restaurant {
  padding-top: 12px;
  padding-bottom: 72px;

  @media screen and (min-width: $tablet) {
    padding-top: 0;
    padding-bottom: 96px;
  }

  @media screen and (min-width: $desktop) {
    padding-bottom: 118px;
  }

  &__box-main {
    display: flex;
    flex-direction: column;
    gap: 28px;
    @media screen and (min-width: $tablet) {
      flex-direction: row;
      align-items: center;
      gap: 26px;
    }
    @media screen and (min-width: $desktop) {
      gap: 32px;
    }
  }

  &__box-slider {
    display: flex;
    justify-content: flex-end;
  }

  &__text {
    display: flex;
    flex-direction: column;
    gap: 12px;
    @media screen and (min-width: $tablet) {
      gap: 0px;
    }
  }

  &__text-tagline {
    font-weight: 400;

    @media screen and (min-width: $tablet) {
      margin-bottom: 4px;
    }
  }

  &__text-title {
    font-family: 'Film P3';
    font-weight: 700;
    font-size: 40px;
    line-height: 1.075;
    letter-spacing: 0.3em;
    color: var(--title-color);

    @media screen and (min-width: $tablet) {
      font-size: 64px;
      line-height: 1.078;
      margin-bottom: 24px;
    }
    @media screen and (min-width: $desktop) {
      color: #828282;
    }
  }
  &__text-description {
    max-width: 258px;
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 12px;
    line-height: 1.25;
    letter-spacing: 0.02em;
    color: var(--secondary-text-color);

    @media screen and (min-width: $tablet) {
      max-width: 439px;
      font-size: 16px;
      line-height: 1.25;
    }

    @media screen and (min-width: $desktop) {
      max-width: 518px;

      margin-bottom: 112px;
    }
  }
  &__img1 {
    box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
    border-radius: 2px;
    margin-left: auto;

    @media screen and (min-width: $tablet) {
      width: 400px;
      transform: translateY(-32px);
      margin-bottom: -32px;
    }
    @media screen and (min-width: $desktop) {
      width: 460px;
    }
  }
}

.main-restaurant__about {
  display: flex;
  align-items: center;
  gap: 20px;

  @media screen and (min-width: $tablet) {
    gap: 46px;
  }
  @media screen and (min-width: $desktop) {
    gap: 32px;
  }

  &-img2 {
    box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
    border-radius: 2px;
    width: 200px;

    @media screen and (min-width: $tablet) {
      width: 350px;
      transform: translateY(-16px);
      margin-bottom: -16px;
    }

    @media screen and (min-width: $desktop) {
      width: 460px;
      transform: translateY(-98px);
      margin-bottom: -98px;
    }
  }

  &-description {
    font-family: 'Montserrat';

    font-weight: 600;
    font-size: 12px;
    line-height: 1.25;
    letter-spacing: 0.02em;
    color: var(--accent-color);
    width: 163px;

    @media screen and (min-width: $tablet) {
      width: 312px;
      font-size: 16px;
      line-height: 1.25;
    }
    @media screen and (min-width: $desktop) {
      padding-bottom: 119px;
    }
  }
}
