.main-contacts {
  position: relative;

  &__info {
    padding-top: 36px;
    padding-bottom: 32px;
    @media screen and (min-width: $tablet) {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-top: 56px;
      padding-bottom: 40px;
    }
    @media screen and (min-width: $tablet) {
      padding-top: 56px;
      padding-bottom: 74px;
    }
  }

  &__title {
    width: 127px;
    margin-bottom: 12px;
    font-family: 'Film P3', sans-serif;
    text-transform: uppercase;
    font-size: 40px;
    line-height: 1.1;
    letter-spacing: 0.3em;
    color: var(--title-color);
    @media screen and (min-width: $tablet) {
      width: 202px;
      font-size: 64px;
      line-height: 1.07;
      margin-bottom: 8px;
    }
    @media screen and (min-width: $desktop) {
      margin-bottom: 16px;
    }
  }

  &__title-second {
    margin-bottom: 16px;
    font-weight: 600;
    color: var(--secondary-text-color);
    @media screen and (min-width: $tablet) {
      margin-bottom: 52px;
    }
    @media screen and (min-width: $desktop) {
      font-size: 20px;
      margin-bottom: 40px;
    }
  }

  &__location {
    display: flex;
    align-items: center;
    @media screen and (min-width: $tablet) {
      flex-direction: column;
      align-items: flex-start;
      gap: 8px;
    }
  }

  &__location-page {
    font-weight: 500;
    font-size: 20px;
    color: var(--accent-color);
  }

  &__number {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.21;
    letter-spacing: 0.02em;
    color: var(--title-color);
  }

  &__icon {
    fill: var(--accent-color);
  }

  &__location-restaurant {
    display: flex;
    align-items: center;
    gap: 8px;
    height: 40px;
    margin-left: 22px;
    padding: 0 8px;
    border: 0.5px solid var(--brand-color);
    border-radius: 2px;
    background-color: var(--white-color);
    @media screen and (min-width: $tablet) {
      margin: 0;
    }
  }

  &__location-hotel {
    display: flex;
    gap: 8px;
    align-items: center;
    width: 260px;
    height: 40px;
    margin-left: 54px;
    padding: 0 8px;
    border: 0.5px solid var(--brand-color);
    border-radius: 2px;
    background-color: var(--white-color);
    @media screen and (min-width: $tablet) {
      width: 264px;
      margin: 0;
    }
  }

  &__location-maps {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 260px;
    height: 76px;
    margin-left: auto;
    padding-left: 10px;
    padding-right: 33px;
    font-weight: 400;
    font-size: 16px;
    background-color: var(--white-color);
    border: 0.5px solid var(--brand-color);
    border-radius: 2px;
    background-color: var(--white-color);
    @media screen and (min-width: $tablet) {
      width: 285px;
      height: 56px;
      margin: 0;
      padding-right: 8px;
    }
  }

  &__address-icon {
    fill: var(--accent-color);
  }

  &__nav {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 32px;
    @media screen and (min-width: $tablet) {
      justify-content: start;
      margin: 0;
    }
  }
}

.iframe {
  width: 100%;
  height: 220px;
  @media screen and (min-width: $tablet) {
    width: 535px;
    height: 415px;
  }
}

.address-icon {
  fill: var(--accent-color);
}
