.main-hotel {
  @media screen and (max-width: 1023px) {
  padding-bottom: 80px;
  }
}
.main-hotel__subtitle {
display: flex;
flex-direction: column;
align-items: flex-end;


  @media screen and (min-width: $tablet) {
    width: 419px;
  }
  @media screen and (min-width: $desktop) {
    width: 488px;
  }
}
.main-hotel__tagline {
  @media screen and (max-width: 413px) {
  font-size: 16px;
  }
  @media screen and (max-width: 1023px) {
    font-size: 20px;
    margin-top: 18px;
    margin-bottom: 6px;
  }
  @media screen and (min-width: $tablet) {
    margin-top: 120px;
    margin-bottom: 4px;
  }
}

.main-hotel__title {
  font-family: 'Film P3', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 1.08;
  letter-spacing: 0.3em;
  color: var(--title-color);

  @media screen and (min-width: $tablet) {
    font-size: 64px;
    margin-bottom: 24px;
  }
  @media screen and (min-width: $desktop) {
    color: var(--home-text-color);
  }
}
.main-hotel__text {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.25;

  color: var(--secondary-text-color);

  @media screen and (min-width: $tablet) {
    font-size: 16px;
  }
}
.main-hotel__lead {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.25;
  width: 163px;
  margin-top: 102px;
  margin-right: 21px;

  color: var(--accent-color);

  @media screen and (min-width: $tablet) {
    width: 312px;
    font-size: 16px;
    margin-top: 172px;
    margin-right: 48px;
  }
  @media screen and (min-width: $desktop) {
    width: 311px;
    margin-top: 122px;
    margin-right: 45px;
  }
}
.main-hotel__card {
  display: flex;
  flex-direction: column;
  @media screen and (max-width: 1023px) {
    align-items: flex-end;
  gap: 28px;
  }
  @media screen and (min-width: $tablet) {
    flex-direction: row-reverse;
  }
}
.main-hotel__description {
  display: flex;
  flex-direction: column;
  @media screen and (min-width: 320px) {
max-width: 242px;
  }
  
  @media screen and (max-width: 1023px) {
    max-width: 242px;
    gap: 16px;
  }
  @media screen and (min-width: $tablet) {
    width: 419px;
    gap: 24px;
    margin-left: 46px;
  }
  @media screen and (min-width: $desktop) {
    width: 488px;
    gap: 24px;
    margin-left: 67px;
  }
}
.main-hotel__box {
  display: flex;
  @media screen and (min-width: $tablet) {
    margin-left: 170px;
    transform: translateY(-100px);
  }
  @media screen and (min-width: $desktop) {
    margin-left: 294px;
    transform: translateY(-46px);
  }
}
.main-hotel__image1 {
  width: 244px;
  background: var(--section-text-color);
  box-shadow: 2px 2px 60px 2px var(--shadow-photo);
  border-radius: 2px;
  @media screen and (max-width: 1023px) {
    margin-bottom: 25px;
  margin-right: 140px;
  }
  @media screen and (min-width: $tablet) {
    width: 400px;
    transform: translateY(-24px);  
  }
  @media screen and (min-width: $desktop) {
    width: 460px;
    transform: translateY(-24px);
  }
}
.main-hotel__image2 {
  width: 200px;
  background: var(--section-text-color);
  box-shadow: 2px 2px 60px 2px var(--shadow-photo);
  border-radius: 2px;

  @media screen and (min-width: $tablet) {
    width: 350px;
    
  }
  @media screen and (min-width: $desktop) {
    width: 460px;

  }
}
.main-hotel__slider {
  transform: translateY(-25px);
  @media screen and (min-width: $tablet) {
    transform: translateY(-180px);
  }
  @media screen and (min-width: $desktop) {
    transform: translateY(-150px);
  }
}
.main-hotel__room {
    margin: 0;
  }
  
