.main-hotel .container {
  display: flex;
  flex-direction: column;
  gap: 32px;

  @media screen and (min-width: $tablet) {
    gap: 0;
  }
}

.main-hotel {
  padding-top: 18px;
  padding-bottom: 72px;

  @media screen and (min-width: $tablet) {
    padding-top: 0;
    padding-bottom: 96px;
  }

  &__subtitle {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    @media screen and (min-width: $tablet) {
      width: 419px;
    }

    @media screen and (min-width: $desktop) {
      width: 488px;
    }
  }

  &__box-main {
    display: flex;
    flex-direction: column;

    @media screen and (min-width: $tablet) {
      flex-direction: row-reverse;
      align-items: center;
      gap: 46px;
    }

    @media screen and (min-width: $desktop) {
      align-items: flex-start;
    }
  }

  &__description {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    max-width: 242px;
    gap: 16px;

    @media screen and (min-width: $tablet) {
      max-width: 419px;
      margin-left: 0;
      gap: 24px;
    }

    @media screen and (min-width: $desktop) {
      max-width: 488px;
      padding-top: 120px;
      gap: 24px;
    }
  }

  &__tagline {
    font-size: 16px;
    margin-bottom: 6px;

    @media screen and (min-width: $mobile) {
      font-size: 20px;
    }

    @media screen and (min-width: $tablet) {
      font-size: 32px;
    }
  }

  &__title {
    font-family: 'Film P3', sans-serif;
    font-style: normal;
    font-weight: 700;
    line-height: 1.08;
    letter-spacing: 0.3em;
    color: var(--title-color);
    font-size: 40px;
    max-width: 127px;

    @media screen and (min-width: $tablet) {
      font-size: 64px;
      max-width: 204px;
    }

    @media screen and (min-width: $desktop) {
      font-size: 64px;
      color: var(--home-text-color);
    }
  }

  &__text {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    line-height: 1.25;
    color: var(--secondary-text-color);
    font-size: 10px;
    margin-bottom: 28px;

    @media screen and (min-width: $mobile) {
      font-size: 12px;
      margin-bottom: 0;
    }

    @media screen and (min-width: $tablet) {
      font-size: 16px;
    }
  }

  &__cover {
    background: var(--section-text-color);
    box-shadow: 2px 2px 60px 2px var(--shadow-photo);
    border-radius: 2px;
    max-width: 244px;
    height: 100%;

    @media screen and (min-width: $tablet) {
      max-width: 400px;
      transform: translateY(-32px);
      margin-bottom: -32px;
    }

    @media screen and (min-width: $desktop) {
      max-width: 460px;
      transform: translateY(-25px);
      margin-bottom: -25px;
    }
  }

  &__box-about {
    display: flex;
    gap: 21px;
    align-items: center;

    @media screen and (min-width: $tablet) {
      justify-content: flex-end;
      gap: 48px;
    }

    @media screen and (min-width: $desktop) {
      align-items: flex-start;
    }
  }

  &__lead {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    line-height: 1.25;
    color: var(--accent-color);
    font-size: 10px;
    max-width: 163px;
    width: 100%;
    font-size: 12px;

    @media screen and (min-width: $tablet) {
      max-width: 312px;
      font-size: 16px;
      padding-top: 123px;
    }
  }

  &__cover2 {
    background: var(--section-text-color);
    box-shadow: 2px 2px 60px 2px var(--shadow-photo);
    border-radius: 2px;
    max-width: 200px;
    height: 100%;

    @media screen and (min-width: $tablet) {
      max-width: 350px;
      transform: translateY(-25px);
      margin-bottom: -25px;
    }

    @media screen and (min-width: $desktop) {
      transform: translateY(-46px);
      margin-bottom: -46px;
      max-width: 460px;
    }
  }

  &__box-slider {
    @media screen and (min-width: $tablet) {
      transform: translateY(-28px);
      margin-bottom: -28px;
    }

    @media screen and (min-width: $desktop) {
      transform: translateY(-167px);
      margin-bottom: -167px;
    }
  }

  &__room {
    margin: 0;
  }
}
