.details-hotel {
  background-color: black;
  padding-top: 24px;
  padding-bottom: 40px;
  max-width: 414px;

  margin: 0 auto;
  background-image: linear-gradient(var(--hero-bcg), var(--hero-bcg)),
    url(../images/section/hotel/main-hotel-bg-mobile@1x.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: linear-gradient(var(--hero-bcg), var(--hero-bcg)),
      url('../images/section/hotel/main-hotel-bg-mobile@2x.jpg');
  }
  @media screen and (min-width: $tablet) {
    padding-bottom: 15px;
    & {
      max-width: 1024px;
      background-image: linear-gradient(var(--hero-bcg), var(--hero-bcg)),
        url(../images/section/hotel/main-hotel-bg-tablet@1x.jpg);
    }
    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      & {
        background-image: linear-gradient(var(--hero-bcg), var(--hero-bcg)),
          url(../images/section/hotel/main-hotel-bg-tablet@2x.jpg);
      }
    }
  }
  @media screen and (min-width: $desktop) {
    padding-bottom: 65px;
    & {
      max-width: 1280px;
      background-image: linear-gradient(var(--hero-bcg), var(--hero-bcg)),
        url(../images/section/hotel/main-hotel-bg-desktop@1x.jpg);
    }
    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      & {
        background-image: linear-gradient(var(--hero-bcg), var(--hero-bcg)),
          url(../images/section/hotel/main-hotel-bg-desktop@2x.jpg);
      }
    }
  }

  &__container {
    @media screen and (min-width: $tablet) {
      display: flex;
      justify-content: flex-end;
    }
  }

  &__main {
    @media screen and (min-width: $tablet) {
      display: flex;
      flex-direction: column;
    }
  }

  &__content {
    align-items: center;

    @media screen and (min-width: $tablet) {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
    }
  }

  &__logo {
    @include logo($size: 40px, $color: var(--white-color));
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 12px;

    @media screen and (min-width: $tablet) {
      margin-bottom: 16px;
      font-size: 64px;
      text-align: end;
      font-size: 64px;
      margin-right: -17px;
    }
    @media screen and (min-width: $desktop) {
      margin-right: 0;
    }
  }

  &__message {
    padding-left: 17px;

    @media screen and (min-width: $desktop) {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      padding-left: 0;
    }
  }

  &__title {
    margin-bottom: 20px;
    text-align: center;

    font-size: 20px;
    line-height: 1.2;
    color: var(--white-color);

    @media screen and (min-width: $tablet) {
      margin-bottom: 8px;
      font-size: 24px;
      line-height: 1.21;
      text-align: end;
    }

    @media screen and (min-width: $desktop) {
      padding-right: 17px;
    }
  }

  &__text {
    color: var(--section-text-color);
    text-align: left;
    margin-bottom: 48px;
    font-size: 12px;
    letter-spacing: 0.02em;
    line-height: 1.25;
    max-width: 243px;

    @media screen and (min-width: $tablet) {
      max-width: 549px;
      font-size: 16px;
      font-weight: 600;
    }

    @media screen and (min-width: $desktop) {
      max-width: 565px;
      margin-bottom: 40px;
    }
  }

  &__slider-box {
    display: flex;
    gap: 20px;
    padding-right: 40px;
    margin-bottom: 32px;

    @media screen and (min-width: $tablet) {
      gap: 32px;
      padding-right: 0px;
      margin-bottom: 0;
    }

    @media screen and (min-width: $desktop) {
      gap: 86px;
      padding-right: 32px;
      margin-bottom: 0;
    }
  }

  &__slider-item:first-of-type {
    @media screen and (min-width: $desktop) {
      margin-left: -86px;
    }
  }

  &__slider-desktop {
    display: none;
    @media screen and (min-width: $desktop) {
      display: flex;
    }
  }

  &__slider-tablet {
    display: none;

    @media screen and (min-width: $tablet) {
      display: flex;
    }

    @media screen and (min-width: $desktop) {
      display: none;
    }
  }

  &__slider-arrow {
    display: flex;
    justify-content: flex-end;
    gap: 32px;
  }

  &__icon-arrow {
    fill: var(--white-color);
    opacity: 1;
  }

  &__order {
    @media screen and (min-width: $tablet) {
      display: flex;
      align-items: flex-end;
    }
  }

  &__btn {
    width: 236px;
    max-height: 48px;

    @media screen and (min-width: $desktop) {
      width: 238px;
    }
  }

  &__btn-price {
    padding: 14px 32px;
    width: 236px;
    max-height: 48px;

    @media screen and (min-width: $desktop) {
      width: 238px;
    }
  }

  &__btn-item {
    text-align: center;
  }

  &__btn-item:not(:last-child) {
    margin-bottom: 16px;
  }
}
