.menu {
  padding-top: 32px;
  padding-bottom: 32px;

  @media screen and (min-width: $tablet) {
    background-color: var(--secondary-bg-color);
  }
}

.menu__title {
  margin-bottom: 32px;
  font-family: 'Times New Roman', serif;
  font-size: 32px;
  line-height: 1.16;
  color: var(--black-color);
  text-transform: uppercase;

  @media screen and (min-width: $tablet) {
    margin-bottom: 40px;
  }
}

.menu__container {
  display: flex;

  @media screen and (max-width: 1023px) {
    flex-direction: column;
    gap: 16px;
    margin-bottom: 32px;
  }

  @media screen and (min-width: $tablet) {
    gap: 88px;
    margin-bottom: 40px;
  }

  @media screen and (min-width: $desktop) {
    gap: 140px;
    margin-bottom: 30px;
  }
}

.menu__table {
  border-collapse: collapse;
  width: 100%;
  max-width: 384px;

  &:not(:last-child) {
    margin-bottom: 16px;
  }

  @media screen and (min-width: $tablet) {
    min-width: 420px;
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  @media screen and (min-width: $desktop) {
    min-width: 485px;
  }
}

.menu__caption {
  margin-bottom: 16px;
  font-family: 'Times New Roman', serif;
  font-size: 20px;
  line-height: 1.15;
  color: var(--black-color);
  text-align: left;

  @media screen and (min-width: $tablet) {
    margin-bottom: 20px;
  }

  @media screen and (min-width: $desktop) {
    font-size: 24px;
    line-height: 1.17;
  }
}

.menu__row {
  border-bottom: 8px solid transparent;

  @media screen and (min-width: $desktop) {
    border-bottom: 12px solid transparent;
  }

  &--mg {
    @media screen and (min-width: $tablet) {
      border-bottom: 12px solid transparent;
    }

    @media screen and (min-width: $desktop) {
      border-bottom: 13px solid transparent;
    }
  }
}

.menu__header {
  width: 100vw;
  max-width: 225px;
  margin-bottom: 8px;
  @include text();
  font-weight: 500;
  text-align: left;

  @media screen and (min-width: $tablet) {
    max-width: 238px;
  }

  @media screen and (min-width: $desktop) {
    font-size: 16px;
    line-height: 1.25;
    max-width: 291px;
  }
}

.menu__components {
  @include text($size: 10px, $line-height: 1.2);
  font-weight: 400;
  border-top: 4px solid transparent;
}

.menu__weight {
  padding-left: 25px;
  @include text();
  font-weight: 300;
  text-align: left;

  @media screen and (max-width: 413px) {
    padding-left: 5px;
  }

  @media screen and (min-width: $tablet) and (max-width:1279px) {
    padding-left: 20px;
    border-left: 25px solid transparent;
  }

  @media screen and (min-width: $desktop) {
    padding-left: 40px;
  }
}

.menu__cost {
  @include text();
  text-align: right;

  @media screen and (max-width: 413px) {
    padding-left: 5px;
  }

  @media screen and (min-width: $desktop) {
    font-size: 16px;
    line-height: 1.25;
  }
}

.menu__btn {
  display: block;
  margin-left: auto;
  background-color: var(--black-color);
  border-color: var(--primary-bg-color);

  transition: background-color 250ms var(--distribution-time),
  border-color 250ms var(--distribution-time);

  &:hover,
  &:focus {
    border-color: var(--brand-color);
  }

  @media screen and (max-width: 1023px) {
    margin-right: auto;
  }

  @media screen and (min-width: $tablet) and (max-width: 1279px) {
    border-color: var(--secondary-bg-color);
  }
}