.room-hero {
  margin-left: auto;
  margin-right: auto;
  max-width: 414px;

  background-image: url(../images/section/hero/room__hero-414.jpg);
  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    & {
      background-image: url(../images/section/hero/room__hero-414@2x.jpg);
    }
  }

  @media screen and (min-width: $tablet) {
    padding-bottom: 15px;
    & {
      max-width: 1024px;
      background-image: url(../images/section/hero/room__hero-1024.jpg);
    }
    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      & {
        background-image: url(../images/section/hero/room__hero-1024@2x.jpg);
      }
    }
  }
  @media screen and (min-width: $desktop) {
    padding-bottom: 65px;
    & {
      max-width: 1280px;
      background-image: url(../images/section/hero/room__hero-1280.jpg);
    }
    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      & {
        background-image: url(../images/section/hero/room__hero-1280@2x.jpg);
      }
    }
  }
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.room-hero__container {
  padding-top: 126px;
  padding-bottom: 20px;
  @media screen and (min-width: $tablet) {
    padding-top: 88px;
  }
  @media screen and (min-width: $desktop) {
    padding-top: 64px;
  }
}

.room-hero__address {
  display: flex;
  align-items: center;
  text-align: start;
  width: 285px;
  height: 56px;
  padding-left: 10px;
  padding-right: 7px;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.01em;
  color: var(--white-color);
  border: 1px solid var(--brand-color);
  border-radius: 2px;
  fill: var(--brand-color);
  @media screen and (max-width: 1023px) {
    display: none;
  }
}

.room-hero__address-icon {
  margin-right: 13px;
}

.room-hero__title {
  width: 325px;
  margin-bottom: 14px;
  font-family: 'Times New Roman Cyr', serif;
  font-size: 28px;
  line-height: 1.15;
  letter-spacing: 0.05em;
  color: var(--white-color);
  @media screen and (min-width: $tablet) {
    width: 404px;
    margin-bottom: 16px;
    font-size: 128px;
  }
  @media screen and (min-width: $desktop) {
    margin-bottom: 32px;
  }

  &--upper {
    text-transform: uppercase;
  }
}

.room-hero__text {
  width: 325px;
  margin-bottom: 113px;
  font-size: 12px;
  text-transform: uppercase;
  color: var(--white-color);
  @media screen and (min-width: $tablet) {
    margin-bottom: 137px;
    font-size: 36px;
    line-height: 1.14;
  }
}

.btn.room-hero__btn {
  &:hover,
  &:focus,
  &:active {
    background-color: var(--white-color);
  }
  @media screen and (min-width: $tablet) {
    background-color: var(--black-color);
  }
  @media screen and (min-width: $desktop) {
    background-color: var(--btn-bcg);
  }
}

.room-hero__btn-list {
  @media screen and (min-width: $tablet) {
    display: flex;
    gap: 40px;
  }
  @media screen and (min-width: $tablet) {
    gap: 60px;
  }
}

.room-hero__social-list {
  @media screen and (min-width: $desktop) {
    display: none;
  }
}

.room-hero__social-link {
  @include centeredFlex();
  fill: var(--brand-color-transparent);
}

.room-hero__social-btn {
  display: flex;
  @media screen and (min-width: $tablet) {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
  }
  @media screen and (min-width: $desktop) {
    margin-bottom: 0;
  }
}
