.room-hero {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  max-width: 414px;

  // background-image: url(../images/section/hero/room__hero-414.jpg);
  // @media screen and (min-device-pixel-ratio: 2),
  //   screen and (min-resolution: 192dpi),
  //   screen and (min-resolution: 2dppx) {
  //   & {
  //     background-image: url(../images/section/hero/room__hero-414@2x.jpg);
  //   }
  // }

  // @media screen and (min-width: $tablet) {
  //   & {
  //     max-width: 1024px;
  //     background-image: url(../images/section/hero/room__hero-1024.jpg);
  //   }
  //   @media screen and (min-device-pixel-ratio: 2),
  //     screen and (min-resolution: 192dpi),
  //     screen and (min-resolution: 2dppx) {
  //     & {
  //       background-image: url(../images/section/hero/room__hero-1024@2x.jpg);
  //     }
  //   }
  // }
  // @media screen and (min-width: $desktop) {
  //   & {
  //     max-width: 1280px;
  //     background-image: url(../images/section/hero/room__hero-1280.jpg);
  //   }
  //   @media screen and (min-device-pixel-ratio: 2),
  //     screen and (min-resolution: 192dpi),
  //     screen and (min-resolution: 2dppx) {
  //     & {
  //       background-image: url(../images/section/hero/room__hero-1280@2x.jpg);
  //     }
  //   }
  // }
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.room-hero__container {
  position: relative;
  padding-top: 208px;
  padding-bottom: 14px;
  @media screen and (min-width: $tablet) {
    padding-top: 225px;
    padding-bottom: 24px;
  }
  @media screen and (min-width: $desktop) {
    padding-top: 265px;
    padding-bottom: 48px;
  }
}

.room-hero__slider {
  display: flex;
  justify-content: space-between;
  margin-bottom: 93px;
  @media screen and (min-width: $tablet) {
    margin-bottom: 88px;
  }
  @media screen and (min-width: $desktop) {
    margin-bottom: 72px;
  }
}

.room-hero__slider-btn {
  @include centeredFlex();
  padding: 0;
  width: 40px;
  height: 40px;
  border: none;
  background-color: var(--hero-bcg);
  fill: var(--brand-color);
}

.room-hero__title {
  margin-bottom: 14px;
  font-family: 'Times New Roman Cyr', serif;
  font-size: 28px;
  line-height: 1.15;
  letter-spacing: 0.05em;
  color: var(--white-color);
  @media screen and (min-width: $tablet) {
    margin-bottom: 24px;
    font-size: 36px;
  }
  @media screen and (min-width: $desktop) {
    margin-bottom: 24px;
  }

  &--upper {
    text-transform: uppercase;
  }
}

.room-hero__text {
  width: 325px;
  margin-bottom: 16px;
  font-size: 12px;
  color: var(--white-color);
  @media screen and (min-width: $tablet) {
    width: 400px;
    margin-bottom: 24px;
    font-size: 16px;
  }
}

.room-hero__address {
  display: flex;
  align-items: center;
  text-align: start;
  width: 285px;
  height: 56px;
  padding-left: 10px;
  padding-right: 7px;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.01em;
  color: var(--white-color);
  border: 1px solid var(--brand-color);
  border-radius: 2px;
  fill: var(--brand-color);
  @media screen and (max-width: 1023px), (min-width: $desktop) {
    display: none;
  }
  @media screen and (min-width: $desktop) {
    display: none;
  }
}

.room-hero__address-icon {
  margin-right: 13px;
}

.room-hero__social-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 8px;
  @media screen and (min-width: $tablet) {
    flex-direction: row;
    align-items: center;
    gap: 20px;
  }
  @media screen and (min-width: $desktop) {
    display: none;
  }
}

.room-hero__social-link {
  display: flex;
  width: 24px;
  height: 24px;
  fill: var(--brand-color-transparent);
  &:hover,
  &:focus {
    fill: var(--brand-color);
  }
}

.btn.room-hero__btn {
  padding: 14px 35px;
  position: absolute;
  bottom: 40px;
  right: 73px;
  @media screen and (min-width: $tablet) {
    bottom: 64px;
    right: 47px;
  }
  @media screen and (min-width: $desktop) {
    padding: 15px 36px 13px 34px;
    bottom: 66px;
    right: 85px;
  }
}

.social-address-container {
  display: flex;
  gap: 40px;
}

.onetime {
  display: flex;
}

.onetime-item {
  height: 100vh;
  width: 100vw;
}

.allo {
  width: 100%;
}
