.my-slick-prev,
.my-slick-next {
  position: absolute;
  bottom: -20%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  width: 50px;
  height: 40px;
  cursor: pointer;
  font-family: inherit;
  font-weight: 900;
  font-size: 36px;
  line-height: 1;
  border: none;
  color: white;
  background-color: transparent;
}

.my-slick-prev {
  @media screen and (min-width: $desktop) {
    left: 728px;
  }
}

.my-slick-next {
  right: 25px;
}
