@font-face {
  font-family: 'Times New Roman Cyr';
  src: url(../fonts/TimesNRCyrMT-Bold.woff2) format('woff2'),
    url(../fonts/TimesNRCyrMT-Bold.woff) format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Times New Roman Cyr';
  src: url(../fonts/TimesNRCyrMT.woff2) format('woff2'),
    url(../fonts/TimesNRCyrMT.woff) format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Film P3';
  src: url(../fonts/FilmP3Bold.woff2) format('woff2'),
    url(../fonts/FilmP3Bold.woff) format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@import './utils/variables';
@import './utils/breakpoints';
@import './utils/placeholders';
@import './utils/base';
@import './utils/mixin';

@import './components/button';
@import './components/backdrop';
@import './components/price-modal';
@import './components/room-modal';
@import './components/table-modal';
@import './components/variable-slick';
@import './components/hotel-slick';

@import './components/restaurant-slick';
@import './components/restaurant-kitchen-slick';
@import './components/hotel-room-slick';
@import './components/up-bottom';
@import './footer';
@import './header';
@import './hotel-hero';
@import './hotel-luxe-room';
@import './hotel-triple-room';
@import './main-contacts';
@import './main-details-hotel';
@import './main-details-restaurant';
@import './main-hero';
@import './main-hotel';
@import './main-restaurant';
@import './restaurant-hero';
@import './restaurant-kitchen';
@import './restaurant-menu';
@import './room-amenities';
@import './room-hero';
