@import '~node_modules/modern-normalize/modern-normalize.css';
body {
  background-color: var(--primary-bg-color);
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(20px / 16px);
  letter-spacing: 0.02em;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0, 0, 0, 0);
  clip-path: inset(50%);
  margin: -1px;
}
.section__liner {
  margin-left: auto;
  margin-right: auto;
  max-width: 414px;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0) 34.8%,
    rgba(186, 186, 186, 0.4) 35%,
    rgba(0, 0, 0, 0) 35.1%,
    rgba(0, 0, 0, 0) 64.8%,
    rgba(186, 186, 186, 0.4) 65%,
    rgba(0, 0, 0, 0) 65.1%
  );
  background-size: 414px;
  background-repeat: repeat;
  @media screen and (min-width: $tablet) {
    max-width: 1024px;
    background-size: 1024px;
    background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0) 23.8%,
      rgba(186, 186, 186, 0.4) 24%,
      rgba(0, 0, 0, 0) 24.1%,
      rgba(0, 0, 0, 0) 50.8%,
      rgba(186, 186, 186, 0.4) 50%,
      rgba(0, 0, 0, 0) 51.1%,
      rgba(0, 0, 0, 0) 75.8%,
      rgba(186, 186, 186, 0.4) 76%,
      rgba(0, 0, 0, 0) 76.1%
    );
  }
  @media screen and (min-width: $desktop) {
    max-width: 1280px;
    background-size: 1280px;
  }
}

.section__liner-gradient {
  max-width: 414px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 24px;
  padding-bottom: 40px;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0) 34.9%,
    rgba(122, 122, 122, 0.4) 35%,
    rgba(0, 0, 0, 0) 35.1%,
    rgba(0, 0, 0, 0) 64.9%,
    rgba(122, 122, 122, 0.4) 65%,
    rgba(0, 0, 0, 0) 65.1%
  );

  @media screen and (min-width: $tablet) {
    max-width: 1024px;
    padding-top: 48px;
    padding-bottom: 96px;
    background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.76) 23.9%,
      rgba(122, 122, 122, 0.4) 24%,
      rgba(0, 0, 0, 0.76) 24.1%,
      rgba(0, 0, 0, 0.76) 50.9%,
      rgba(122, 122, 122, 0.4) 50%,
      rgba(0, 0, 0, 0.76) 51.1%,
      rgba(0, 0, 0, 0.76) 75.9%,
      rgba(122, 122, 122, 0.4) 76%,
      rgba(0, 0, 0, 0.76) 76.1%
    );
  }

  @media screen and (min-width: $desktop) {
    max-width: 1280px;
    background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0) 23.9%,
      rgba(122, 122, 122, 0.4) 24%,
      rgba(0, 0, 0, 0) 24.1%,
      rgba(0, 0, 0, 0) 50.9%,
      rgba(122, 122, 122, 0.4) 50%,
      rgba(0, 0, 0, 0) 51.1%,
      rgba(0, 0, 0, 0) 75.9%,
      rgba(122, 122, 122, 0.4) 76%,
      rgba(0, 0, 0, 0) 76.1%
    );
  }
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;

  @media screen and (min-width: $mobile) {
    width: 414px;
  }
  @media screen and (min-width: $tablet) {
    width: 1024px;
    padding: 0 47px;
  }
  @media screen and (min-width: $desktop) {
    width: 1280px;
    padding: 0 85px;
  }
}

.tagline {
  color: var(--tagline-color);
  font-family: 'Times New Roman', serif;
  font-size: 20px;
  line-height: calc(23px / 20px);

  @media screen and (min-width: $tablet) {
    font-size: 32px;
    line-height: calc(37px / 32px);
  }
}

th,
td {
  padding: 0;
}
