@import '~node_modules/modern-normalize/modern-normalize.css';
body {
  background-color: var(--white-color);
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(20px / 16px);
  letter-spacing: 0.02em;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0, 0, 0, 0);
  clip-path: inset(50%);
  margin: -1px;
}
.section {
  background-color: var(--primary-bg-color);
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;

  @media screen and (min-width: $mobile) {
    width: 414px;
  }
  @media screen and (min-width: $tablet) {
    width: 1024px;
    padding: 0 47px;
  }
  @media screen and (min-width: $desktop) {
    width: 1280px;
    padding: 0 85px;
  }
}

.tagline {
  color: var(--tagline-color);
  font-family: 'Times New Roman', serif;
  font-size: 32px;
  line-height: calc(37px / 32px);
}
