:root {
  --black-color: #000000;
  --white-color: #ffffff;
  --brand-color: #f3c653;
  --accent-color: #c79002;
  --primary-bg-color: #fffdee;
  --secondary-bg-color: #f0ecd6;
  --title-color: #494848;
  --tagline-color: #b4b4b4;
  --main-text-color: #7a7a7a;
  --secondary-text-color: #5f5f5f;
  --section-text-color: #bababa;
  --home-text-color: #828282;
  --link-color: #e5e5e5;

  --distribution-time: cubic-bezier(0.4, 0, 0.2, 1);
}
