<header class="header">
  <div class="container header__container">
    <nav class="header__nav">
      <a class="header__logo" href="./index.html">mimiho</a>
      <div class="header__main-nav">
        <ul class="header__page-nav">
          <li>
            <a class="header__page" href="/src/restaurant.html">Ресторан</a>
          </li>
          <li>
            <svg class="header__icon" width="24" height="24">
              <use href="/src/images/svg/symbol-defs.svg#icon-phone"></use>
            </svg>
          </li>
          <li>
            <a class="header__number" href="tel:+380955559533">095 555 95 33</a>
          </li>
        </ul>
        <ul class="header__page-nav">
          <li>
            <a class="header__page" href="/src/hotel.html">Готель </a>
          </li>
          <li>
            <svg class="header__icon" width="24" height="24">
              <use href="/src/images/svg/symbol-defs.svg#icon-phone"></use>
            </svg>
          </li>
          <li>
            <a
              class="header__number header__number--margin"
              href="tel:+380668491089"
              >066 849 10 89</a
            >
          </li>
          <li>
            <a class="header__number" href="tel:+380672758540">067 275 85 40</a>
          </li>
        </ul>
      </div>
      <ul class="header__socials">
        <li>
          <svg width="24" height="24">
            <use href="/src/images/svg/symbol-defs.svg#icon-instagram"></use>
          </svg>
        </li>
        <li>
          <svg width="24" height="24">
            <use href="/src/images/svg/symbol-defs.svg#icon-facebook"></use>
          </svg>
        </li>
        <li>
          <svg width="24" height="24">
            <use href="/src/images/svg/symbol-defs.svg#icon-telegram"></use>
          </svg>
        </li>
      </ul>
    </nav>
  </div>
</header>
