<header class="header" id="home">
  <div class="header__container container">
    <nav class="header__nav">
      <a class="header__logo" href="./index.html">mimiho</a>
      <ul class="header__main-nav">
        <li class="header__page-nav">
          <a class="header__page" href="/src/restaurant.html">Ресторан</a>
          <div class="header__nav-info">
            <svg class="header__icon" width="24" height="24">
              <use href="/src/images/svg/symbol-defs.svg#icon-phone"></use>
            </svg>
            <a class="header__number" href="tel:+380955559533">095 555 95 33</a>
          </div>
        </li>
        <li class="header__page-nav">
          <a class="header__page" href="/src/hotel.html">Готель </a>
          <div class="header__nav-info">
            <svg class="header__icon" width="24" height="24">
              <use href="/src/images/svg/symbol-defs.svg#icon-phone"></use>
            </svg>
            <a
              class="header__number header__number--margin"
              href="tel:+380668491089"
              >066 849 10 89</a
            >
            <a class="header__number" href="tel:+380672758540">067 275 85 40</a>
          </div>
        </li>
      </ul>
      <ul class="header__socials">
        <li>
          <a
            class="header__socials-icon"
            href="https://www.instagram.com/"
            target="_blank"
            rel="noreferrer noopener nofollow"
          >
            <svg width="24" height="24">
              <use href="/src/images/svg/symbol-defs.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li>
          <a
            class="header__socials-icon"
            href="https://www.facebook.com/"
            target="_blank"
            rel="noreferrer noopener nofollow"
          >
            <svg width="24" height="24">
              <use href="/src/images/svg/symbol-defs.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
        <li>
          <a
            class="header__socials-icon"
            href="https://telegram.org/"
            target="_blank"
            rel="noreferrer noopener nofollow"
          >
            <svg width="24" height="24">
              <use href="/src/images/svg/symbol-defs.svg#icon-telegram"></use>
            </svg>
          </a>
        </li>
      </ul>
    </nav>
    <address class="header__address">
      <a
        class="header__address-link"
        href="https://goo.gl/maps/pxmifmAcoBnW9BxBA"
        target="_blank"
        rel="noreferrer noopener nofollow"
        ><svg class="header__address-icon" width="10" height="16">
          <use href="/src/images/svg/symbol-defs.svg#icon-location-pin"></use>
        </svg>
        Україна, м. Полтава, <br />
        вул. Маршала Бірюзова, 15
      </a>
    </address>
  </div>
</header>
