<section class="hotel-luxe-room section">
  <div class="container">
    <div class="hotel-luxe-room__card">
      <div class="hotel-luxe-room__description">
        <p class="hotel-luxe-room__subtitle">Amet minim mollit non</p>
        <h2 class="hotel-luxe-room__text-title">MIMIHO</h2>
        <h3 class="hotel-luxe-room__text-subtitle">
          ДВОМІСНИЙ НОМЕР&nbsp<span class="text-subtitle__s">люкс</span>
        </h3>
        <p class="hotel-luxe-room__text">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit. Exercitation
          veniam consequat sunt nostrud amet.
        </p>
      </div>
      <picture>
        <source
          srcset="
            ./images/section/hotel/hotel-room-244.webp    1x,
            ./images/section/hotel/hotel-room-244@2x.webp 2x
          "
          type="image/webp"
          media="(max-width: 1023px)"
        />
        <source
          srcset="
            ./images/section/hotel/hotel-room-244.jpg    1x,
            ./images/section/hotel/hotel-room-244@2x.jpg 2x
          "
          type="image/webp"
          media="(max-width: 1023px)"
        />

        <source
          srcset="
            ./images/section/hotel/hotel-room-400.webp    1x,
            ./images/section/hotel/hotel-room-400@2x.webp 2x
          "
          type="image/webp"
          media="(max-width: 1280px)"
        />

        <source
          srcset="
            ./images/section/hotel/hotel-room-400.jpg    1x,
            ./images/section/hotel/hotel-room-400@2x.jpg 2x
          "
          media="(max-width: 1280px)"
        />
        <source
          srcset="
            ./images/section/hotel/hotel-room-des-460.webp    1x,
            ./images/section/hotel/hotel-room-des-460@2x.webp 2x
          "
          type="image/webp"
          media="(min-width: 1280px)"
        />
        <source
          srcset="
            ./images/section/hotel/hotel-room-des-460.jpg    1x,
            ./images/section/hotel/hotel-room-des-460@2x.jpg 2x
          "
          media="(min-width: 1280px)"
        />

        <img
          class="hotel-luxe-room__cover"
          src="/src/images/section/hotel/hotel-room-244.jpg"
          alt=""
        />
      </picture>
    </div>
    <!-- img -->
    <div class="hotel-luxe-room__slider-box">
      <include src="./partials/hotel-room-slick.html"></include>
      <div class="hotel-luxe-room__btn-list">
        <a href="/src/room.html" class="hotel-luxe-room__btn btn">Детальніше</a>

        <button
          class="hotel-luxe-room__btn btn js-open-modal"
          type="button"
          data-modal="9"
          id="modal-order9"
        >
          Переглянути ціни
        </button>
      </div>
    </div>
  </div>
</section>
