<div class="slider-container">
  <ul class="hotel-slick main-hotel__room">
    <li class="hotel-slick__item">
      <picture>
        <source
          srcset="
            ./images/gallery/mobile/room-245m.jpg    1x,
            ./images/gallery/mobile/room-245m@2x.jpg 2x
          "
          media="(max-width: 1023px)"
          width="245"
        />

        <source
          srcset="
            ./images/gallery/tablet/room-194t.jpg    1x,
            ./images/gallery/tablet/room-194t@2x.jpg 2x
          "
          media="(max-width: 1279px)"
          width="194"
        />

        <source
          srcset="
            ./images/gallery/desktop/room-254.jpg    1x,
            ./images/gallery/desktop/room-254@2x.jpg 2x
          "
          media="(min-width: 1280px)"
          width="254"
        />

        <img
          class="main-hotel__img"
          src="./images/gallery/mobile/room-245m.jpg"
          alt=""
        />
      </picture>
    </li>

    <li class="hotel-slick__item">
      <picture>
        <source
          srcset="
            ./images/gallery/mobile/room2-245m.jpg    1x,
            ./images/gallery/mobile/room2-245m@2x.jpg 2x
          "
          media="(max-width: 1023px)"
          width="245"
        />

        <source
          srcset="
            ./images/gallery/tablet/room2-194t.jpg    1x,
            ./images/gallery/tablet/room2-194t@2x.jpg 2x
          "
          media="(max-width: 1279px)"
          width="194"
        />

        <source
          srcset="
            ./images/gallery/desktop/room2-254.jpg    1x,
            ./images/gallery/desktop/room2-254@2x.jpg 2x
          "
          media="(min-width: 1280px)"
          width="254"
        />

        <img
          class="main-hotel__img"
          src="./images/gallery/mobile/room2-245m.jpg"
          alt=""
        />
      </picture>
    </li>

    <li class="hotel-slick__item">
      <picture>
        <source
          srcset="
            ./images/gallery/mobile/room3-245m.jpg    1x,
            ./images/gallery/mobile/room3-245m@2x.jpg 2x
          "
          media="(max-width: 1023px)"
          width="245"
        />

        <source
          srcset="
            ./images/gallery/tablet/room3-194t.jpg    1x,
            ./images/gallery/tablet/room3-194t@2x.jpg 2x
          "
          media="(max-width: 1279px)"
          width="194"
        />

        <source
          srcset="
            ./images/gallery/desktop/room3-254.jpg    1x,
            ./images/gallery/desktop/room3-254@2x.jpg 2x
          "
          media="(min-width: 1280px)"
          width="254"
        />

        <img
          class="main-hotel__img"
          src="./images/gallery/mobile/room3-245m.jpg"
          alt=""
        />
      </picture>
    </li>

    <li class="hotel-slick__item">
      <picture>
        <source
          srcset="
            ./images/gallery/mobile/room4-245m.jpg    1x,
            ./images/gallery/mobile/room4-245m@2x.jpg 2x
          "
          media="(max-width: 1023px)"
          width="245"
        />

        <source
          srcset="
            ./images/gallery/tablet/room4-194t.jpg    1x,
            ./images/gallery/tablet/room4-194t@2x.jpg 2x
          "
          media="(max-width: 1279px)"
          width="194"
        />

        <source
          srcset="
            ./images/gallery/desktop/room4-254.jpg    1x,
            ./images/gallery/desktop/room4-254@2x.jpg 2x
          "
          media="(min-width: 1280px)"
          width="254"
        />

        <img
          class="main-hotel__img"
          src="./images/gallery/mobile/room4-245m.jpg"
          alt=""
        />
      </picture>
    </li>
  </ul>
</div>
