<section class="restaurant">
  <div class="container">
    <p class="restaurant__subtitle">Amet minim mollit non</p>
    <h2 class="restaurant__title">MIMIHO</h2>
    <p class="restaurant__description">
      Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
      Velit officia consequat duis enim velit mollit. Exercitation veniam
      consequat sunt nostrud amet.
    </p>
    <img
      src="/src/images/section/hero/restaurant-hotel1-244m.jpg"
      alt=""
      srcset="
        /src/images/section/hero/restaurant-hotel1-244m.jpg    1x,
        /src/images/section/hero/restaurant-hotel1-244m@2x.jpg 2x
      "
    />
  </div>
</section>
