<section class="main-contacts">
  <div class="container">
    <div class="main-contacts__info">
      <h1 lang="en" class="main-contacts__title">Mimiho</h1>
      <p class="main-contacts__title-second">Ресторанно-готельний комплекс</p>
      <ul class="main-contacts__nav">
        <div class="main-contacts__location">
          <a class="main-contacts__location-page" href="#">Ресторан</a>
          <li class="main-contacts__location-restaurant">
            <svg class="main-contacts__icon" width="24" height="24">
              <use href="/src/images/svg/symbol-defs.svg#icon-phone"></use>
            </svg>
            <a class="main-contacts__number" href="tel:+380955559533"
              >095 555 95 33</a
            >
          </li>
        </div>
        <div class="main-contacts__location">
          <a class="main-contacts__location-page" href="#">Готель </a>
          <li class="main-contacts__location-hotel">
            <svg class="main-contacts__icon" width="24" height="24">
              <use href="/src/images/svg/symbol-defs.svg#icon-phone"></use>
            </svg>
            <a class="main-contacts__number" href="tel:+380668491089"
              >066 849 10 89</a
            >
            <a class="main-contacts__number" href="tel:+380672758540"
              >067 275 85 40</a
            >
          </li>
        </div>
        <div class="main-contacts__location">
          <a class="main-contacts__location-page" href="#"></a>
          <li class="main-contacts__location-maps">
            <svg class="header__address-icon" width="10" height="16">
              <use
                href="/src/images/svg/symbol-defs.svg#icon-location-pin"
              ></use>
            </svg>
            <a
              class="main-contacts__location-text"
              href="https://goo.gl/maps/bjmL2t6C5QuBFs9W9"
              >Україна, м. Полтава, вул. Маршала Бірюзова, 15</a
            >
          </li>
        </div>
        <picture>
          <source
            srcset="/src/images/gallery/mobile/location-mob.webp 1x
            /src/images/gallery/mobile/location-mob@2x.webp 2x"
            type="image/webp"
            media="(max-width: 1023px)"
          />
          <source
            srcset="/src/images/gallery/mobile/location-mob.jpg 1x
            /src/images/gallery/mobile/location-mob@2x.jpg 2x"
            media="(max-width: 1023px)"
          />

          <source
            srcset="/src/images/gallery/tablet/location-mob.webp 1x
            /src/images/gallery/tablet/location-mob@2x.webp 2x"
            type="image/webp"
            media="(min-width: 1024px) and (max-width: 1279px)"
          />

          <source
            srcset="/src/images/gallery/tablet/location-mob.jpg 1x
            /src/images/gallery/tablet/location-mob@2x.jpg 2x"
            media="(min-width: 1024px) and (max-width: 1279px)"
          />

          <source
            srcset="/src/images/gallery/desktop/location-desc1x.webp 1x
            /src/images/gallery/desktop/location-desc2x.webp 2x"
            type="image/webp"
            media="(min-width: 1279px)"
          />

          <source
            srcset="/src/images/gallery/desktop/location-desc1x.jpg 1x
            /src/images/gallery/desktop/location-desc2x.jpg 2x"
            media="(min-width: 1279px)"
          />

          <img
            class="main-contacts__location-picture"
            src="/src/images/gallery/tablet/location-mob.jpg"
            alt="Місцезнаходження"
          />
        </picture>
      </ul>
    </div>
  </div>
</section>
