<section class="details-restaurant">
  <div class="container details-restaurant__container">
    <div class="details-restaurant__content">
      <p class="details-restaurant__logo">Mimiho</p>
      <h2 class="details-restaurant__title">Ресторан</h2>
      <p class="details-restaurant__descr">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit.
      </p>
    </div>
    <div class="details-restaurant__box">
      <ul class="details-restaurant__slider-list">
        <li>
          <picture>
            <source
              srcset="
                ./images/section/restaurant/details-image1-270d.webp    1x,
                ./images/section/restaurant/details-image1-270d@2x.webp 2x
              "
              media="(min-width: 1280px)"
              type="image/webp"
            />
            <source
              srcset="
                ./images/section/restaurant/details-image1-270d.jpg    1x,
                ./images/section/restaurant/details-image1-270d@2x.jpg 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ./images/section/restaurant/details-image1-270t.webp    1x,
                ./images/section/restaurant/details-image1-270t@2x.webp 2x
              "
              media="(min-width: 1024px)"
              type="image/webp"
            />
            <source
              srcset="
                ./images/section/restaurant/details-image1-270t.jpg    1x,
                ./images/section/restaurant/details-image1-270t@2x.jpg 2x
              "
              media="(min-width: 1024px)"
            />
            <source
              srcset="
                ./images/section/restaurant/details-image1-274m.webp    1x,
                ./images/section/restaurant/details-image1-274m@2x.webp 2x
              "
              media="(max-width: 1023px)"
              type="image/webp"
            />
            <source
              srcset="
                ./images/section/restaurant/details-image1-274m.jpg    1x,
                ./images/section/restaurant/details-image1-274m@2x.jpg 2x
              "
              media="(max-width: 1023px)"
            />
            <img
              src="./images/section/restaurant/details-image1-274m.jpg"
              alt="Стейк на тарілці"
            />
          </picture>
        </li>
        <li>
          <picture>
            <source
              srcset="
                ./images/section/restaurant/details-image2-162d.webp    1x,
                ./images/section/restaurant/details-image2-162d@2x.webp 2x
              "
              media="(min-width: 1280px)"
              type="image/webp"
            />
            <source
              srcset="
                ./images/section/restaurant/details-image2-162d.jpg    1x,
                ./images/section/restaurant/details-image2-162d@2x.jpg 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ./images/section/restaurant/details-image2-162t.webp    1x,
                ./images/section/restaurant/details-image2-162t@2x.webp 2x
              "
              media="(min-width: 1024px)"
              type="image/webp"
            />
            <source
              srcset="
                ./images/section/restaurant/details-image2-162t.jpg    1x,
                ./images/section/restaurant/details-image2-162t@2x.jpg 2x
              "
              media="(min-width: 1024px)"
            />
            <source
              srcset="
                ./images/section/restaurant/details-image2-182m.webp    1x,
                ./images/section/restaurant/details-image2-182m@2x.webp 2x
              "
              media="(max-width: 1023px)"
              type="image/webp"
            />
            <source
              srcset="
                ./images/section/restaurant/details-image2-182m.jpg    1x,
                ./images/section/restaurant/details-image2-182m@2x.jpg 2x
              "
              media="(max-width: 1023px)"
            />
            <img
              src="./images/section/restaurant/details-image2-182m.jpg"
              alt="М'ясо на шампурі"
            />
          </picture>
        </li>
        <li>
          <picture>
            <source
              srcset="
                ./images/section/restaurant/details-image3-270d.webp    1x,
                ./images/section/restaurant/details-image3-270d@2x.webp 2x
              "
              media="(min-width: 1280px)"
              type="image/webp"
            />
            <source
              srcset="
                ./images/section/restaurant/details-image3-270d.jpg    1x,
                ./images/section/restaurant/details-image3-270d@2x.jpg 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ./images/section/restaurant/details-image3-162t.webp    1x,
                ./images/section/restaurant/details-image3-162t@2x.webp 2x
              "
              media="(min-width: 1024px)"
              type="image/webp"
            />
            <source
              srcset="
                ./images/section/restaurant/details-image3-162t.jpg    1x,
                ./images/section/restaurant/details-image3-162t@2x.jpg 2x
              "
              media="(min-width: 1024px)"
            />
            <source
              srcset="
                ./images/section/restaurant/details-image3-182m.webp    1x,
                ./images/section/restaurant/details-image3-182m@2x.webp 2x
              "
              media="(max-width: 1023px)"
              type="image/webp"
            />
            <source
              srcset="
                ./images/section/restaurant/details-image3-182m.jpg    1x,
                ./images/section/restaurant/details-image3-182m@2x.jpg 2x
              "
              media="(max-width: 1023px)"
            />
            <img
              src="./images/section/restaurant/details-image3-182m.jpg"
              alt="Їжа в тарілці"
            />
          </picture>
        </li>
      </ul>
      <div class="details-restaurant__container-btn">
        <button class="btn details-restaurant__btn" type="button">
          Забронювати столик
        </button>
        <a
          href="./restaurant.html#menu"
          class="btn details-restaurant__btn details-restaurant__btn--padding"
          >Переглянути меню</a
        >
      </div>
    </div>
  </div>
</section>
