<section class="details-hotel section">
  <div class="details-hotel__container container">
    <div class="details-hotel__main">
      <div class="details-hotel__content">
        <a class="details-hotel__logo" href="./index.html">mimiho</a>
        <div class="details-hotel__message">
          <h2 class="details-hotel__title">Готель</h2>
          <p class="details-hotel__text">
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
            sint. Velit officia consequat duis enim velit mollit.
          </p>
        </div>
      </div>
      <ul class="variable-slider">
        <li class="variable-slider__item">
          <picture class="details-hotel__slider-tablet slick__box">
            <source
              srcset="
                ./images/section/hotel/main-hotel-desktop-slide4.jpg    1x,
                ./images/section/hotel/main-hotel-desktop-slide4@2x.jpg 2x
              "
              media="(min-width: 320px)"
            />

            <img
              class="details-hotel__img"
              src="./images/section/hotel/main-hotel-desktop-slide4.jpg"
              alt="Ліжко в готельному номері"
              width="162"
            />
          </picture>
        </li>

        <li class="variable-slider__item">
          <picture class="slick__box">
            <source
              srcset="
                ./images/section/hotel/main-hotel-mobile-slide2.jpg    1x,
                ./images/section/hotel/main-hotel-mobile-slide2@2x.jpg 2x
              "
              media="(max-width: 1024px)"
            />
            <source
              srcset="
                ./images/section/hotel/main-hotel-desktop-slide2.jpg    1x,
                ./images/section/hotel/main-hotel-desktop-slide2@2x.jpg 2x
              "
              media="(min-width: 1024px)"
              width="162"
            />

            <img
              class="details-hotel__img"
              src="./images/section/hotel/main-hotel-mobile-slide2.jpg"
              alt="Ліжко в готельному номері"
              width="275"
            />
          </picture>
        </li>

        <li class="variable-slider__item">
          <picture class="slick__box">
            <source
              srcset="
                ./images/section/hotel/main-hotel-mobile-slide1.jpg    1x,
                ./images/section/hotel/main-hotel-mobile-slide1@2x.jpg 2x
              "
              media="(max-width: 1024px)"
            />

            <source
              srcset="
                ./images/section/hotel/main-hotel-desktop-slide1.jpg    1x,
                ./images/section/hotel/main-hotel-desktop-slide1@2x.jpg 2x
              "
              media="(min-width: 1024px)"
            />

            <img
              class="details-hotel__img"
              src="./images/section/hotel/main-hotel-mobile-slide1.jpg"
              alt="Ліжко в готельному номері"
              width="274"
            />
          </picture>
        </li>

        <li class="variable-slider__item">
          <picture class="details-hotel__slider-desktop slick__box">
            <source
              srcset="
                ./images/section/hotel/main-hotel-desktop-slide3.jpg    1x,
                ./images/section/hotel/main-hotel-desktop-slide3@2x.jpg 2x
              "
              media="(min-width: 320px)"
            />

            <img
              class="details-hotel__img"
              src="./images/section/hotel/main-hotel-desktop-slide3.jpg"
              alt="Ліжко в готельному номері"
              width="270"
            />
          </picture>
        </li>

        <li class="variable-slider__item">
          <picture class="slick__box">
            <source
              srcset="
                ./images/section/hotel/main-hotel-mobile-slide1.jpg    1x,
                ./images/section/hotel/main-hotel-mobile-slide1@2x.jpg 2x
              "
              media="(max-width: 1024px)"
            />

            <source
              srcset="
                ./images/section/hotel/main-hotel-desktop-slide1.jpg    1x,
                ./images/section/hotel/main-hotel-desktop-slide1@2x.jpg 2x
              "
              media="(min-width: 1024px)"
            />

            <img
              class="details-hotel__img"
              src="./images/section/hotel/main-hotel-mobile-slide1.jpg"
              alt="Ліжко в готельному номері"
            />
          </picture>
        </li>
      </ul>
    </div>
    <div class="details-hotel__btn-list">
      <button class="details-hotel__btn btn" type="button">
        Забронювати номер
      </button>

      <a href="./room.html" class="details-hotel__btn-price btn">
        Переглянути ціни
      </a>
    </div>
  </div>
</section>
