<section class="main-hero">
  <include src="./partials/header.html"></include>
  <div class="main-hero__container container">
    <h1 lang="en" class="main-hero__title">Mimiho</h1>
    <h2 class="main-hero__title-second">Ресторанно-готельний комплекс</h2>
    <p class="main-hero__text">Смак життя 24/7</p>
    <div class="main-hero__address-bnt">
      <a
        class="main-hero__address"
        href="https://www.google.com/maps/place/%D0%93%D0%BE%D1%82%D0%B5%D0%BB%D1%8C%D0%BD%D0%BE-%D1%80%D0%B5%D1%81%D1%82%D0%BE%D1%80%D0%B0%D0%BD%D0%BD%D0%B8%D0%B9+%D0%BA%D0%BE%D0%BC%D0%BF%D0%BB%D0%B5%D0%BA%D1%81+%22%D0%9C%D1%96%D0%BC%D1%96%D0%BD%D0%BE%22/@49.599194,34.5265463,17z/data=!4m5!3m4!1s0x40d82601f34ac947:0xbb948724f7cf0b61!8m2!3d49.5993482!4d34.525994"
        target="_blank"
        rel="noopener noreferrer nofollow"
        ><svg class="main-hero__address-icon" width="24" height="24">
          <use href="./images/svg/symbol-defs.svg#icon-location-pin"></use>
        </svg>
        Україна, м. Полтава,<br />
        вул. Маршала Бірюзова, 15</a
      >
      <ul class="main-hero__btn-list">
        <li class="main-hero__btn-item">
          <button class="btn main-hero__btn" type="button">
            Забронювати столик
          </button>
        </li>
        <li class="main-hero__btn-item">
          <button class="main-hero__btn btn" type="button" data-modal-open>
            Забронювати номер
          </button>
        </li>
      </ul>
    </div>
    <ul class="main-hero__social-list">
      <li class="main-hero__social-item">
        <a
          class="main-hero__social-link"
          href="https://www.instagram.com/"
          target="_blank"
          rel="noopener noreferrer nofollow"
          ><svg width="24" height="24">
            <use href="./images/svg/symbol-defs.svg#icon-instagram"></use></svg
        ></a>
      </li>
      <li class="main-hero__social-item">
        <a
          class="main-hero__social-link"
          href="https://www.facebook.com/"
          target="_blank"
          rel="noopener noreferrer nofollow"
          ><svg width="24" height="24">
            <use href="./images/svg/symbol-defs.svg#icon-facebook"></use></svg
        ></a>
      </li>
      <li class="main-hero__social-item">
        <a
          class="main-hero__social-link"
          href="https://telegram.org/"
          target="_blank"
          rel="noopener noreferrer nofollow"
          ><svg width="24" height="24">
            <use href="./images/svg/symbol-defs.svg#icon-telegram"></use></svg
        ></a>
      </li>
    </ul>
  </div>
</section>
