<section class="main-restaurant section">
  <div class="container">
    <div class="main-restaurant__wrap">
      <div class="main-restaurant__text">
        <p class="main-restaurant__text-tagline tagline">
          Amet minim mollit non
        </p>
        <h2 class="main-restaurant__text-title">MIMIHO</h2>
        <p class="main-restaurant__text-description">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit. Exercitation
          veniam consequat sunt nostrud amet.
        </p>
      </div>
      <picture>
        <source
          srcset="
            ./images/section/hero/restaurant-hotel1-244m.webp    1x,
            ./images/section/hero/restaurant-hotel1-244m@2x.webp 2x
          "
          type="image/webp"
          media="(max-width: 1023px)"
        />
        <source
          srcset="
            ./images/section/hero/restaurant-hotel1-244m.jpg    1x,
            ./images/section/hero/restaurant-hotel1-244m@2x.jpg 2x
          "
          media="(max-width: 1023px)"
        />

        <source
          srcset="
            ./images/section/hero/restaurant-hotel1-400t.webp    1x,
            ./images/section/hero/restaurant-hotel1-400t@2x.webp 2x
          "
          type="image/webp"
          media="(min-width: 1024px) and (max-width: 1279px)"
        />

        <source
          srcset="
            ./images/section/hero/restaurant-hotel1-400t.jpg    1x,
            ./images/section/hero/restaurant-hotel1-400t@2x.jpg 2x
          "
          media="(min-width: 1024px) and (max-width: 1279px)"
        />

        <source
          srcset="
            ./images/section/hero/restaurant-hotel1-460d.webp    1x,
            ./images/section/hero/restaurant-hotel1-460d@2x.webp 2x
          "
          type="image/webp"
          media="(min-width: 1279px)"
        />

        <source
          srcset="
            ./images/section/hero/restaurant-hotel1-460d.jpg    1x,
            ./images/section/hero/restaurant-hotel1-460d@2x.jpg 2x
          "
          media="(min-width: 1279px)"
        />

        <img
          class="main-restaurant__img1"
          src="/src/images/section/hero/restaurant-hotel1-400t.jpg"
          alt="Интерьер ресторана"
        />
      </picture>
    </div>

    <div class="main-restaurant__about">
      <picture>
        <source
          srcset="
            ./images/section/hero/restaurant-hotel2-200m.webp    1x,
            ./images/section/hero/restaurant-hotel2-200m@2x.webp 2x
          "
          type="image/webp"
          media="(max-width: 1023px)"
        />
        <source
          srcset="
            ./images/section/hero/restaurant-hotel2-200m.jpg    1x,
            ./images/section/hero/restaurant-hotel2-200m@2x.jpg 2x
          "
          media="(max-width: 1023px)"
        />
        <source
          srcset="
            ./images/section/hero/restaurant-hotel2-350t.webp    1x,
            ./images/section/hero/restaurant-hotel2-350t@2x.webp 2x
          "
          type="image/webp"
          media="(min-width: 1024px) and (max-width: 1279px)"
        />
        <source
          srcset="
            ./images/section/hero/restaurant-hotel2-350t.jpg    1x,
            ./images/section/hero/restaurant-hotel2-350t@2x.jpg 2x
          "
          media="(min-width: 1024px) and (max-width: 1279px)"
        />
        <source
          srcset="
            ./images/section/hero/restaurant-hotel2-460d.webp    1x,
            ./images/section/hero/restaurant-hotel2-460d@2x.webp 2x
          "
          type="image/webp"
          media="(min-width: 1279px)"
        />

        <source
          srcset="
            ./images/section/hero/restaurant-hotel2-460d.jpg    1x,
            ./images/section/hero/restaurant-hotel2-460d@2x.jpg 2x
          "
          media="(min-width: 1279px)"
        />

        <img
          class="main-restaurant__about-img2"
          src="/src/images/section/hero/restaurant-hotel2-200m.jpg"
          alt=""
        />
      </picture>
      <p class="main-restaurant__about-description">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit. Exercitation
        veniam consequat sunt nostrud amet.
      </p>
    </div>
  </div>
</section>
