<div class="modal modal__price modal-order11" data-modal="11">
  <button class="modal__btn js-modal-close" type="button">
    <svg class="modal__btn__svg" width="24" height="24">
      <use href="./images/svg/symbol-defs.svg#icon-close"></use>
    </svg>
  </button>

  <form class="price-form" name="price-modal" autocomplete="off">
    <p class="price-form__title">Ціни на номер</p>
    <p class="price-form__subtitle">Двомісний номер</p>
    <p class="price-form__category">Категорія номеру</p>

    <div class="price-form__wrapper">
      <label class="price-form__label">
        <select name="night" class="price-form__input">
          <option value="1" selected>1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
        </select>
        Кількість ночей</label
      >
      <label class="price-form__label"
        ><input class="price-form__input" placeholder="1000" disabled />
        грн</label
      >
    </div>

    <button class="btn-modal price-form__btn" type="submit">
      Забронювати номер
    </button>
  </form>
</div>
