<div class="modal modal__price modal-order8" data-modal="8">
  <button class="modal__btn js-modal-close" type="button">
    <svg class="modal__btn__svg" width="24" height="24">
      <use href="./images/svg/symbol-defs.svg#icon-close"></use>
    </svg>
  </button>

  <!-- Форма даних -->
  <form class="price-form" name="price-modal" autocomplete="off">
    <p class="price-form__title">Ціни на номер</p>
    <div>
      <select id="category" name="category" class="price-form__input">
        <option value="1" selected>Двомісний люкс</option>
        <option value="2">Двомісний люкс</option>
        <option value="3">Двомісний люкс</option>
        <option value="4">Двомісний люкс</option>
      </select>
      <label for="category" class="price-form__label">Категорія номеру</label>
    </div>
    <div class="price-form__wrapper">
      <div>
        <select id="night" name="night" class="price-form__input">
          <option value="1" selected>1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
        </select>
        <label for="night" class="price-form__label">Кількість ночей</label>
      </div>

      <div>
        <input class="price-form__input" id="price" placeholder="1000" />
        <label for="price" class="price-form__label">Ціна</label>
      </div>
    </div>
    <button class="btn-modal price-form__btn" type="submit">
      Забронювати номер
    </button>
  </form>
</div>
