<div class="modal" data-modal="3">
  <button class="modal__btn js-modal-close" type="button">
    <svg class="modal__btn__svg" width="24" height="24">
      <use href="./images/svg/symbol-defs.svg#icon-close"></use>
    </svg>
  </button>

  <!-- Форма даних -->
  <form class="form" name="price-modal" autocomplete="off">
    <p class="form__title">ЦІНИ НА НОМЕР</p>

    <div>
      <input class="form__input" id="category" placeholder="Двомісний люкс" />
      <label for="category" class="form__label">Категорія номеру</label>
    </div>

    <div>
      <input class="form__input" id="night" placeholder="1" />
      <label for="night" class="form__label">Кількість ночей</label>
    </div>

    <div>
      <input class="form__input" id="price" placeholder="1000" />
      <label for="price" class="form__label">Ціна</label>
    </div>

    <button class="btn-modal" type="submit">ЗАБРОНЮВАТИ НОМЕР</button>
  </form>
</div>
