<section class="menu">
  <div class="container">
    <h2 class="menu__title">Меню ресторану</h2>
    <div class="menu__container">
      <div class="menu__box">
        <table class="menu__table">
          <caption class="menu__caption">
            Гарячі страви
          </caption>
          <tbody>
            <tr class="menu__row">
              <th class="menu__header">
                Борщ з телятини з квасолею
                <div class="menu__components">
                  Телятина, картопля, капуста, морква, цибуля, квасоля, часник,
                  помідори, зелень, сметана
                </div>
              </th>
              <td class="menu__weight">400 г</td>
              <td class="menu__cost">240 грн</td>
            </tr>
            <tr class="menu__row">
              <th class="menu__header">
                Суп сирний з куркою
                <div class="menu__components">
                  Курятина, картопля, морква, цибуля, печериці, сир м’який,
                  зелень
                </div>
              </th>
              <td class="menu__weight">400 г</td>
              <td class="menu__cost">200 грн</td>
            </tr>
            <tr class="menu__row">
              <th class="menu__header">
                Паста карбонара
                <div class="menu__components">
                  Паста тальятеле, бекон, вершки, сир пармезан, яйце, зелень
                </div>
              </th>
              <td class="menu__weight">350 г</td>
              <td class="menu__cost">430 грн</td>
            </tr>
            <tr class="menu__row">
              <th class="menu__header">
                Стейк зі свинини
                <div class="menu__components">
                  Свиняча вирізка, спеціі, подається з соусом солодкий чилі та
                  овочами
                </div>
              </th>
              <td class="menu__weight">400 г</td>
              <td class="menu__cost">500 грн</td>
            </tr>
            <tr class="menu__row">
              <th class="menu__header">
                Горбуша в соусі з білого вина
                <div class="menu__components">
                  Ніжна горбуша, вершковий соус на основі білого вина
                </div>
              </th>
              <td class="menu__weight">400 г</td>
              <td class="menu__cost">400 грн</td>
            </tr>
          </tbody>
        </table>
        <table class="menu__table">
          <caption class="menu__caption">
            Гарніри та закуски
          </caption>
          <tbody>
            <tr class="menu__row">
              <th class="menu__header">
                Запечені овочі
                <div class="menu__components">
                  Кабачок, перець, помідор, баклажан
                </div>
              </th>
              <td class="menu__weight">200 г</td>
              <td class="menu__cost">230 грн</td>
            </tr>
            <tr class="menu__row">
              <th class="menu__header">
                Картопля фрі
                <div class="menu__components">Картопля, соус томатний</div>
              </th>
              <td class="menu__weight">150 г</td>
              <td class="menu__cost">160 грн</td>
            </tr>
            <tr class="menu__row">
              <th class="menu__header">
                Картопля по-селянськи
                <div class="menu__components">
                  Картопля, спеції, соус пікантний
                </div>
              </th>
              <td class="menu__weight">150 г</td>
              <td class="menu__cost">160 грн</td>
            </tr>
            <tr class="menu__row">
              <th class="menu__header">
                Хрумкі соління з бочки
                <div class="menu__components">
                  Огірок солений, помідор квашений, квашена капуста, морква
                  по-корейські
                </div>
              </th>
              <td class="menu__weight">250 г</td>
              <td class="menu__cost">350 грн</td>
            </tr>
            <tr class="menu__row">
              <th class="menu__header">
                Крильця курячі в медовому соусі
                <div class="menu__components">
                  Крильця курячі, гірчично-медовий соус, подається з морквою,
                  селерою і соусом блючиз
                </div>
              </th>
              <td class="menu__weight">400 г</td>
              <td class="menu__cost">420 грн</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="menu__box">
        <table class="menu__table">
          <caption class="menu__caption">
            Салати
          </caption>
          <tbody>
            <tr class="menu__row">
              <th class="menu__header">
                Цезар з куркою
                <div class="menu__components">
                  Куряче філе, листя салату, помідори чері, сир пармезан,
                  грінки, соус цезар
                </div>
              </th>
              <td class="menu__weight">230 г</td>
              <td class="menu__cost">450 грн</td>
            </tr>
            <tr class="menu__row">
              <th class="menu__header">
                Цезар з креветками
                <div class="menu__components">
                  Тигрові креветки, листя салату, помідори чері, сир пармезан,
                  грінки, соус цезар
                </div>
              </th>
              <td class="menu__weight">230 г</td>
              <td class="menu__cost">300 грн</td>
            </tr>
            <tr class="menu__row">
              <th class="menu__header">
                Грецький салат
                <div class="menu__components">
                  Свіжі огірок, помідор, болгарський перець, оливки, сир бринза,
                  листя салату, соус
                </div>
              </th>
              <td class="menu__weight">230 г</td>
              <td class="menu__cost">280 грн</td>
            </tr>
            <tr class="menu__row">
              <th class="menu__header">
                М’ясний салат
                <div class="menu__components">
                  Куряче філе або свиняча вирізка, свіжі огірок, помідор,
                  болгарський перець, соус ранч
                </div>
              </th>
              <td class="menu__weight">230 г</td>
              <td class="menu__cost">300 грн</td>
            </tr>
          </tbody>
        </table>
        <table class="menu__table">
          <caption class="menu__caption">
            Десерти
          </caption>
          <tbody>
            <tr class="menu__row menu__row--mg">
              <th class="menu__header">Торт наполеон</th>
              <td class="menu__weight">230 г</td>
              <td class="menu__cost">300 грн</td>
            </tr>
            <tr class="menu__row menu__row--mg">
              <th class="menu__header">Торт маковий</th>
              <td class="menu__weight">230 г</td>
              <td class="menu__cost">300 грн</td>
            </tr>
            <tr class="menu__row menu__row--mg">
              <th class="menu__header">Тірамісу</th>
              <td class="menu__weight">120 г</td>
              <td class="menu__cost">260 грн</td>
            </tr>
          </tbody>
        </table>
        <table class="menu__table">
          <caption class="menu__caption">
            Напої
          </caption>
          <tbody>
            <tr class="menu__row menu__row--mg">
              <th class="menu__header">Чай чорний/зелений</th>
              <td class="menu__weight">500 мл</td>
              <td class="menu__cost">100 грн</td>
            </tr>
            <tr class="menu__row menu__row--mg">
              <th class="menu__header">Еспресо</th>
              <td class="menu__weight">30 мл</td>
              <td class="menu__cost">100 грн</td>
            </tr>
            <tr class="menu__row menu__row--mg">
              <th class="menu__header">Американо</th>
              <td class="menu__weight">150 мл</td>
              <td class="menu__cost">100 грн</td>
            </tr>
            <tr class="menu__row menu__row--mg">
              <th class="menu__header">Капучино</th>
              <td class="menu__weight">200 мл</td>
              <td class="menu__cost">160 грн</td>
            </tr>
            <tr class="menu__row menu__row--mg">
              <th class="menu__header">Лате</th>
              <td class="menu__weight">200 мл</td>
              <td class="menu__cost">160 грн</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <button class="menu__btn btn" type="button">Забронювати столик</button>
  </div>
</section>
