<section class="restaurant-kitchen section section__liner">
  <div class="container">
    <h3 class="visually-hidden">About our kitchen</h3>

    <div class="restaurant-kitchen__box-main">
      <div class="restaurant-kitchen__text">
        <p class="restaurant-kitchen__text-tagline tagline">
          Amet minim mollit non
        </p>
        <h2 class="restaurant-kitchen__text-title">MIMIHO</h2>
        <p class="restaurant-kitchen__text-description">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit. Exercitation
          veniam consequat sunt nostrud amet.
        </p>
      </div>
      <picture>
        <source
          srcset="
            ./images/section/restaurant/restaurant-kitchen1-244m.webp    1x,
            ./images/section/restaurant/restaurant-kitchen1-244m@2x.webp 2x
          "
          type="image/webp"
          media="(max-width: 1023px)"
        />
        <source
          srcset="
            ./images/section/restaurant/restaurant-kitchen1-244m.jpg    1x,
            ./images/section/restaurant/restaurant-kitchen1-244m@2x.jpg 2x
          "
          media="(max-width: 1023px)"
        />
        <source
          srcset="
            ./images/section/restaurant/restaurant-kitchen1-400t.webp    1x,
            ./images/section/restaurant/restaurant-kitchen1-400t@2x.webp 2x
          "
          type="image/webp"
          media="(min-width: 1024px) and (max-width: 1279px)"
        />
        <source
          srcset="
            ./images/section/restaurant/restaurant-kitchen1-400t.jpg    1x,
            ./images/section/restaurant/restaurant-kitchen1-400t@2x.jpg 2x
          "
          media="(min-width: 1024px) and (max-width: 1279px)"
        />
        <source
          srcset="
            ./images/section/restaurant/restaurant-kitchen1-460d.webp    1x,
            ./images/section/restaurant/restaurant-kitchen1-460d@2x.webp 2x
          "
          type="image/webp"
          media="(min-width: 1279px)"
        />
        <source
          srcset="
            ./images/section/restaurant/restaurant-kitchen1-460d.jpg    1x,
            ./images/section/restaurant/restaurant-kitchen1-460d@2x.jpg 2x
          "
          media="(min-width: 1279px)"
        />
        <img
          class="restaurant-kitchen__img1"
          src="/src/images/section/restaurant/restaurant-kitchen1-400t.jpg"
          alt="Повар готує страву"
        />
      </picture>
    </div>
    <div class="restaurant-kitchen__box-about">
      <div class="restaurant-kitchen__about">
        <picture>
          <source
            srcset="
              ./images/section/restaurant/restaurant-kitchen2-200m.webp    1x,
              ./images/section/restaurant/restaurant-kitchen2-200m@2x.webp 2x
            "
            type="image/webp"
            media="(max-width: 1023px)"
          />
          <source
            srcset="
              ./images/section/restaurant/restaurant-kitchen2-200m.jpg    1x,
              ./images/section/restaurant/restaurant-kitchen2-200m@2x.jpg 2x
            "
            media="(max-width: 1023px)"
          />
          <source
            srcset="
              ./images/section/restaurant/restaurant-kitchen2-350t.webp    1x,
              ./images/section/restaurant/restaurant-kitchen2-350t@2x.webp 2x
            "
            type="image/webp"
            media="(min-width: 1024px) and (max-width: 1279px)"
          />
          <source
            srcset="
              ./images/section/restaurant/restaurant-kitchen2-350t.jpg    1x,
              ./images/section/restaurant/restaurant-kitchen2-350t@2x.jpg 2x
            "
            media="(min-width: 1024px) and (max-width: 1279px)"
          />
          <source
            srcset="
              ./images/section/restaurant/restaurant-kitchen2-460d.webp    1x,
              ./images/section/restaurant/restaurant-kitchen2-460d@2x.webp 2x
            "
            type="image/webp"
            media="(min-width: 1279px)"
          />
          <source
            srcset="
              ./images/section/restaurant/restaurant-kitchen2-460d.jpg    1x,
              ./images/section/restaurant/restaurant-kitchen2-460d@2x.jpg 2x
            "
            media="(min-width: 1279px)"
          />
          <img
            class="main-restaurant__about-img2"
            src="/src/images/section/restaurant/restaurant-kitchen2-200m.jpg"
            alt="мясо та ніж"
          />
        </picture>
        <p class="restaurant-kitchen__about-description">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit. Exercitation
          veniam consequat sunt nostrud amet.
        </p>
      </div>
    </div>
    <div class="restaurant-kitchen__box-slider">
      <include src="./partials/restaurant-kitchen-slick.html"></include>
    </div>
  </div>
</section>
