<section class="restaurant-kitchen section">
  <div class="container">
    <div class="restaurant-kitchen__wrap">
      <div class="restaurant-kitchen__text">
        <p class="restaurant-kitchen__text-subtitle">Amet minim mollit non</p>
        <h2 class="restaurant-kitchen__text-title">MIMIHO</h2>
        <p class="restaurant-kitchen__text-description">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit. Exercitation
          veniam consequat sunt nostrud amet.
        </p>
      </div>
      <picture>
        <source
          srcset="
            ./images/section/restaurant/restaurant-kitchen1-244m.jpg     1x,
            ./images/section/restaurant/restauraunt-kitchen1-244m@2x.jpg 2x
          "
          media="(max-width: 1023px)"
        />
        <source
          srcset="
            ./images/section/restaurant/restaurant-kitchen1-400t.jpg    1x,
            ./images/section/restaurant/restaurant-kitchen1-400t@2x.jpg 2x
          "
          media="(min-width: 1024px) and (max-width: 1279px)"
        />
        <source
          srcset="
            ./images/section/restaurant/restaurant-kitchen1-460d.jpg    1x,
            ./images/section/restaurant/restaurant-kitchen1-460d@2x.jpg 2x
          "
          media="(min-width: 1279px)"
        />

        <img
          class="restaurant-kitchen__img1"
          src="/src/images/section/hero/restaurant-hotel1-400t.jpg"
          alt=""
        />
      </picture>
    </div>

    <div class="main-restaurant__about">
      <picture>
        <source
          srcset="
            ./images/section/restaurant/restaurant-kitchen2-350t.jpg    1x,
            ./images/section/restaurant/restaurant-kitchen2-350t@2x.jpg 2x
          "
          media="(max-width: 1023px)"
        />
        <source
          srcset="
            ./images/section/restaurant/restaurant-kitchen2-350t.jpg    1x,
            ./images/section/restaurant/restaurant-kitchen2-350t@2x.jpg 2x
          "
          media="(min-width: 1024px) and (max-width: 1279px)"
        />
        <source
          srcset="
            ./images/section/restaurant/restaurant-kitchen2-460d.jpg    1x,
            ./images/section/restaurant/restaurant-kitchen2-460d@2x.jpg 2x
          "
          media="(min-width: 1279px)"
        />

        <img
          class="main-restaurant__about-img2"
          src="/src/images/section/hero/restaurant-hotel2-200m.jpg"
          alt=""
        />
      </picture>
      <p class="main-restaurant__about-description">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit. Exercitation
        veniam consequat sunt nostrud amet.
      </p>
    </div>
  </div>
</section>
