<ul class="restaurant-slick-second">
  <li>
    <picture>
      <source
        srcset="
          ./images/gallery/desktop/restaurant-kitchen-slider1-245d.webp    1x,
          ./images/gallery/desktop/restaurant-kitchen-slider1-245d@2x.webp 2x
        "
        media="(min-width: 1280px)"
        type="image/webp"
      />
      <source
        srcset="
          ./images/gallery/desktop/restaurant-kitchen-slider1-245d.jpg    1x,
          ./images/gallery/desktop/restaurant-kitchen-slider1-245d@2x.jpg 2x
        "
        media="(min-width: 1280px)"
      />
      <source
        srcset="
          ./images/gallery/tablet/restaurant-kitchen-slider1-194t.webp    1x,
          ./images/gallery/tablet/restaurant-kitchen-slider1-194t@2x.webp 2x
        "
        media="(min-width: 1024px)"
        type="image/webp"
      />
      <source
        srcset="
          ./images/gallery/tablet/restaurant-kitchen-slider1-194t.jpg    1x,
          ./images/gallery/tablet/restaurant-kitchen-slider1-194t@2x.jpg 2x
        "
        media="(min-width: 1024px)"
      />
      <source
        srcset="
          ./images/gallery/mobile/restaurant-kitchen-slider1-245m.webp    1x,
          ./images/gallery/mobile/restaurant-kitchen-slider1-245m@2x.webp 2x
        "
        media="(max-width: 1023px)"
        type="image/webp"
      />
      <source
        srcset="
          ./images/gallery/mobile/restaurant-kitchen-slider1-245m.jpg    1x,
          ./images/gallery/mobile/restaurant-kitchen-slider1-245m@2x.jpg 2x
        "
        media="(max-width: 1023px)"
      />
      <img
        src="./images/gallery/mobile/restaurant-kitchen-slider1-245m.jpg"
        alt="Комплексний сніданок"
      />
    </picture>
  </li>

  <li>
    <picture>
      <source
        srcset="
          ./images/gallery/desktop/restaurant-kitchen-slider2-245d.webp    1x,
          ./images/gallery/desktop/restaurant-kitchen-slider2-245d@2x.webp 2x
        "
        media="(min-width: 1280px)"
        type="image/webp"
      />
      <source
        srcset="
          ./images/gallery/desktop/restaurant-kitchen-slider2-245d.jpg    1x,
          ./images/gallery/desktop/restaurant-kitchen-slider2-245d@2x.jpg 2x
        "
        media="(min-width: 1280px)"
      />
      <source
        srcset="
          ./images/gallery/tablet/restaurant-kitchen-slider2-194t.webp    1x,
          ./images/gallery/tablet/restaurant-kitchen-slider2-194t@2x.webp 2x
        "
        media="(min-width: 1024px)"
        type="image/webp"
      />
      <source
        srcset="
          ./images/gallery/tablet/restaurant-kitchen-slider2-194t.jpg    1x,
          ./images/gallery/tablet/restaurant-kitchen-slider2-194t@2x.jpg 2x
        "
        media="(min-width: 1024px)"
      />
      <source
        srcset="
          ./images/gallery/mobile/restaurant-kitchen-slider2-245m.webp    1x,
          ./images/gallery/mobile/restaurant-kitchen-slider2-245m@2x.webp 2x
        "
        media="(max-width: 1023px)"
        type="image/webp"
      />
      <source
        srcset="
          ./images/gallery/mobile/restaurant-kitchen-slider2-245m.jpg    1x,
          ./images/gallery/mobile/restaurant-kitchen-slider2-245m@2x.jpg 2x
        "
        media="(max-width: 1023px)"
      />
      <img
        src="./images/gallery/mobile/restaurant-kitchen-slider2-245m.jpg"
        alt="Піцца"
      />
    </picture>
  </li>

  <li>
    <picture>
      <source
        srcset="
          ./images/gallery/desktop/restaurant-kitchen-slider3-245d.webp    1x,
          ./images/gallery/desktop/restaurant-kitchen-slider3-245d@2x.webp 2x
        "
        media="(min-width: 1280px)"
        type="image/webp"
      />
      <source
        srcset="
          ./images/gallery/desktop/restaurant-kitchen-slider3-245d.jpg    1x,
          ./images/gallery/desktop/restaurant-kitchen-slider3-245d@2x.jpg 2x
        "
        media="(min-width: 1280px)"
      />
      <source
        srcset="
          ./images/gallery/tablet/restaurant-kitchen-slider3-194t.webp    1x,
          ./images/gallery/tablet/restaurant-kitchen-slider3-194t@2x.webp 2x
        "
        media="(min-width: 1024px)"
        type="image/webp"
      />
      <source
        srcset="
          ./images/gallery/tablet/restaurant-kitchen-slider3-194t.jpg    1x,
          ./images/gallery/tablet/restaurant-kitchen-slider3-194t@2x.jpg 2x
        "
        media="(min-width: 1024px)"
      />
      <source
        srcset="
          ./images/gallery/mobile/restaurant-kitchen-slider3-245m.webp    1x,
          ./images/gallery/mobile/restaurant-kitchen-slider3-245m@2x.webp 2x
        "
        media="(max-width: 1023px)"
        type="image/webp"
      />
      <source
        srcset="
          ./images/gallery/mobile/restaurant-kitchen-slider3-245m.jpg    1x,
          ./images/gallery/mobile/restaurant-kitchen-slider3-245m@2x.jpg 2x
        "
        media="(max-width: 1023px)"
      />
      <img
        src="./images/gallery/mobile/restaurant-kitchen-slider2-245m.jpg"
        alt="Піцца"
      />
    </picture>
  </li>
</ul>
