<section class="room-amenities section">
    <div class="container">
        <h2 class="room-amenities__title">Зручності у номері</h2>
        <p class="room-amenities__lead">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit
            officia consequat duis enim velit
            mollit. Exercitation veniam consequat sunt nostrud amet.</p>
        <ul class="room-amenities__item">
            <li class="room-amenities__list">
                <h3 class="room-amenities__subtitle">Загальні</h3>
                <div class="room-amenities__tasks">
                    <p class="room-amenities__text">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
                        sint. Velit officia consequat duis enim velit
                        mollit. Exercitation veniam consequat sunt nostrud amet.</p>
                    <p class="room-amenities__text">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
                        sint. Velit officia consequat duis enim velit
                        mollit. Exercitation veniam consequat sunt nostrud amet.</p>
                </div>
            </li>
            <li class="room-amenities__list">
                <h3 class="room-amenities__subtitle">Ванна кімната</h3>
                <div class="room-amenities__tasks">
                    <p class="room-amenities__text">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
                        sint. Velit officia consequat duis enim velit
                        mollit. Exercitation veniam consequat sunt nostrud amet.</p>
                    <p class="room-amenities__text">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
                        sint. Velit officia consequat duis enim velit
                        mollit. Exercitation veniam consequat sunt nostrud amet.</p>
                </div>
            </li>
            <li class="room-amenities__list">
                <h3 class="room-amenities__subtitle">Спальня</h3>
                <div class="room-amenities__tasks">
                    <p class="room-amenities__text">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
                        sint.</p>
                </div>
            </li>
            <li class="room-amenities__list">
                <h3 class="room-amenities__subtitle">Кухня</h3>
                <div class="room-amenities__tasks">
                    <p class="room-amenities__text">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
                        sint.</p>
                    <p class="room-amenities__text">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
                        sint.</p>
                </div>
            </li>
            <li class="room-amenities__list">
                <h3 class="room-amenities__subtitle">Медіа</h3>
                <div class="room-amenities__tasks">
                    <p class="room-amenities__text">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
                        sint. Velit officia consequat duis enim velit
                        mollit.</p>
            </li>
        </ul>
        <div class="room-amenities__box">
            <button class="room-amenities__btn js-open-modal" data-modal="13" id="modal-order13" type="button">Оформити бронювання</button>
            <a href="./hotel.html" class="room-amenities__link">Повернутися до перегляду номерів
                <svg width="24" height="24" class="room-amenities__icon">
                <use href="./images/svg/symbol-defs.svg#icon-arrow-right"></use>
            </svg></a>
        </div>
    </div>
    </div>
</section>