.btn {
  cursor: pointer;
  padding: 14px 24px;
  background-color: var(--btn-bcg);
  color: var(--brand-color);
  border: 2px solid var(--white-color);
  border-radius: 25px;
  font-size: 16px;
  font-weight: 700;
  line-height: calc(20px / 16px);
  letter-spacing: 0.02em;
  text-align: center;

  transition: background-color 250ms var(--distribution-time);

  &:hover,
  &:focus,
  &:active {
    background-color: var(--white-color);
  }
}
.btn-modal {
  cursor: pointer;
  width: 384px;
  padding: 18px 28px;
  background-color: var(--black-color);
  border: 1px solid var(--brand-color);
  border-radius: 2px;
  color: var(--white-color);
  font-weight: 500;
  font-size: 20px;
  line-height: calc(24px / 20px);
  text-transform: uppercase;

  transition: background-color 250ms var(--distribution-time);
  @media screen and (max-width: 413px) {
    font-size: calc(10px + 10 * (100vw / 414));
    font-size: 15px;
    width: 320px;
  }
  @media screen and (min-width: $tablet) {
    width: 592px;
    font-size: 24px;
    padding: 18px 56px;
    line-height: calc(29px / 24px);
  }

  &:hover,
  &:focus {
    background-color: var(--brand-color);
    color: var(--black-color);
  }
}
