.btn {
  padding: 14px 24px;
  background-color: rgba(0, 0, 0, 0.4);
  color: var(--brand-color);
  border: 2px solid var(--white-color);
  border-radius: 25px;
  font-size: 16px;
  font-weight: 700;
  line-height: calc(20px / 16px);
  letter-spacing: 0.02em;
  text-align: center;

  transition: background-color 250ms var(--distribution-time);

  &:hover,
  &:focus {
    background-color: var(--white-color);
  }
}
