.modal__price {
  min-height: 489px;

  @media screen and (min-width: $tablet) {
    padding: 60px;
  }
}

.price-form {
  &__wrapper {
    @media screen and (min-width: $tablet) {
      display: flex;
      gap: 16px;
      margin-bottom: 20px;
    }
  }
  &__title {
    font-family: 'Times New Roman', serif;
    font-weight: 700;
    font-size: 24px;
    line-height: calc(28px / 24px);
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: var(--black-color);
    margin-bottom: 40px;
    text-align: center;
    text-transform: uppercase;
  }

  &__input {
    display: block;
    width: 384px;
    height: 54px;
    padding: 10px;
    border: 1px solid var(--accent-color);
    border-radius: 2px;
    margin-bottom: 8px;
    font-family: 'Times New Roman';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.05em;
    color: #808080;
    @media screen and (min-width: $tablet) {
      width: 288px;
    }
  }
  &__label {
    display: inline-block;
    font-weight: 500;
    font-size: 14px;
    line-height: calc(17px / 14px);
    letter-spacing: 0.02em;
    color: var(--accent-color);
    margin-bottom: 20px;
  }
}
.price-form__input::placeholder {
  font-family: 'Times New Roman', serif;
  font-weight: 700;
  font-size: 20px;
  line-height: calc(23px / 20px);
  letter-spacing: 0.05em;
  color: var(--placeholder-color);
}

.price-form__btn {
  text-align: center;
  margin: 0 auto;
  display: block;
}
