.restaurant-kitchen .container .slider-container {
  @media screen and (max-width: 413px) {
    max-width: 290px;
  }

  @media screen and (min-width: $tablet) {
    max-width: 428px;
    margin-left: auto;
    transform: translateY(-118px);
  }
  @media screen and (min-width: $desktop) {
    max-width: 550px;
    top: -204px;
  }
}

.restaurant-slick {
  // left: 140px;
  min-width: 0;

  @media screen and (min-width: $tablet) {
    margin-left: 0;
  }
  @media screen and (min-width: $desktop) {
    margin-left: 0;
  }
}

.restaurant-slick .slick-list {
  overflow: hidden;
}

.restaurant-slick .slick-track {
  min-width: 0;
  max-height: 270px;
  display: flex;
  gap: 20px;
  width: 330px;

  @media screen and (min-width: $tablet) {
    gap: 40px;
  }

  @media screen and (min-width: $desktop) {
    width: 530px;
  }
}

.restaurant-slick .slick-arrow {
  position: absolute;
  top: 110%;
  font-size: 0;
  width: 32px;
  height: 32px;
  border: none;
  z-index: 10;
}

.restaurant-slick .slick-arrow.slick-prev {
  right: 81px;
  background: url('./../images/svg/slider-arrow-black-left.svg') 0 0 / 100%
    no-repeat;
}

.restaurant-slick .slick-arrow.slick-prev:hover,
.restaurant-slick .slick-arrow.slick-prev:focus {
  background: url('./../images/svg/slider-arrow-yellow-left.svg') 0 0 / 100%
    no-repeat;
}

.restaurant-slick .slick-arrow.slick-next {
  right: 15px;

  background: url('./../images/svg/slider-arrow-black-right.svg') 0 0 / 100%
    no-repeat;
}

.restaurant-slick .slick-arrow.slick-next:hover,
.restaurant-slick .slick-arrow.slick-next:focus {
  background: url('./../images/svg/slider-arrow-yellow-right.svg') 0 0 / 100%
    no-repeat;
}

.restaurant-slick .slick-dotted.slick-slider {
  margin-bottom: 16px;

  @media screen and (min-width: $tablet) {
    margin-bottom: 24px;
  }

  @media screen and (min-width: $desktop) {
    margin-bottom: 32px;
  }
}
