.modal__table{
    height: 688px;
    @media screen and (min-width: $tablet) {
    height: 522px;
    }
}
.form-table__title {
    font-family: 'Times New Roman', serif;
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 1.15;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        color: var(--black-color);
        text-align: center;
        margin-bottom: 40px;

        @media screen and (min-width: $tablet) {
            font-size: 40px;
        }

}
.form-table__input {
width: 384px;
    height: 54px;
    padding-left: 12px;
    padding-right: 20px;
        border: 1px solid var(--accent-color);
        border-radius: 2px;
        margin-bottom: 8px;
        appearance: none;
        font-family: inherit;
        background-color: var(--primary-bg-color);
    @media screen and (min-width: $tablet) {
    width: 288px;
    height: 64px;
    padding-left: 12px;
    padding-right: 24px;
    border: 1px solid var(--accent-color);
    border-radius: 2px;
    appearance: none;
    margin-bottom: 8px;
    }
}
.form-table__input::placeholder {
    font-family: 'Times New Roman', serif;
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 1.16;
        letter-spacing: 0.05em;
     color:var(--placeholder-color);

    @media screen and (min-width: $tablet) {
    font-size: 24px;
    }
   }
   .form-table__select {
    font-family: 'Times New Roman', serif;
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 1.17;
         letter-spacing: 0.05em;
        color:var(--placeholder-color);
    width: 384px;
        height: 53px;
        padding-left: 12px;
        padding-right: 20px;
        border: 1px solid var(--accent-color);
        border-radius: 2px;
        margin-bottom: 8px;
        appearance: none;
        background-color: var(--primary-bg-color);
   
        @media screen and (min-width: $tablet) {
            font-size: 24px;
            width: 288px;
            height: 63px;
            padding-left: 12px;
            padding-right: 24px;
            border: 1px solid var(--accent-color);
            border-radius: 2px;
            appearance: none;
            margin-bottom: 8px;
        }
    }
.form-table__label{
font-weight: 500;
font-size: 14px;
line-height: 1.21;
letter-spacing: 0.02em;
color: var(--accent-color);

           
}
.form-table__button {
    display: block;
    margin: 0 auto;
    cursor: pointer;
}
.form-table__box {
    display: flex;
    flex-direction: column-reverse;
    margin-bottom: 12px;
    
}

.form-table__control {
    display: flex;
    flex-wrap: wrap;
    gap:16px;
     
}
.form-table__svg {
position: relative;
}
.form-table__icon2 {
    fill:var(--accent-color);
    position: absolute;
        right: 24px;
        top: 45%;
        transform: translateY(-50%);
        pointer-events: none;
        background-color: var(--primary-bg-color);
        @media screen and (min-width: $tablet) {
            right: 26px;
        }
}
.form-table__icon1 {
    fill: var(--accent-color);
    position: absolute;
    right: 20px;
    bottom: 160%;
    transform: translateY(-50%);
    pointer-events: none;
    background-color: var(--primary-bg-color);
}
.form-table__card {
    margin-bottom: 40px;
}