.up-button {
    position: fixed;
    bottom: 50px;
    right: 25px;

    &.is-hidden {
      opacity: 0;
    }
  }

  .up-button__link {
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    background-color: rgba(243, 198, 83, 0.2);
    box-shadow: var(--brand-color) 1px 0px 10px;
    fill: var(--brand-color);
    transition: fill 0.25s linear, scale 0.25s ease-in-out, box-shadow 0.25s ease-in-out;
    &:hover,
    &:focus {
      scale: 1.1;
      background-color: rgba(243, 198, 83, 0.4);
      fill: var(--accent-color);
      box-shadow: var(--brand-color) 2px 0px 15px;
    }
  }
