.variable-slider {
  position: relative;

  margin-bottom: 80px;
  margin-left: -15px;
  min-width: 0;

  @media screen and (min-width: $tablet) {
    margin-left: 0;
  }
  &__item {
    text-align: center;
    opacity: 0.6;
    transition: all 0.3s ease 0s;
    @media screen and (min-width: $tablet) {
      opacity: 1;
    }
  }
}

.variable-slider .variable-slider__item.slick-center {
  opacity: 1;
}

.variable-slider .variable-slider__list {
  overflow: hidden;
}

.variable-slider .slick-items {
  overflow: hidden;
}

.variable-slider .slick-track {
  min-width: 0;
  max-height: 270px;
  display: flex;
  gap: 20px;
  width: 374px;

  @media screen and (min-width: $tablet) {
    gap: 34px;
    width: 662px;
  }

  @media screen and (min-width: $desktop) {
    gap: 86px;
    width: 874px;
  }
}

.variable-slider .slick-arrow {
  position: absolute;

  top: 110%;
  font-size: 0;
  width: 32px;
  height: 32px;
  border: none;
  z-index: 10;
}

.variable-slider .slick-arrow.slick-prev {
  right: 64px;

  background: url('./../images/svg/slider-arrow-left.svg') 0 0 / 100% no-repeat;
}

.variable-slider .slick-arrow.slick-prev:hover,
.variable-slider .slick-arrow.slick-prev:focus {
  background: url('./../images/svg/slider-arrow-yellow-left.svg') 0 0 / 100%
    no-repeat;
}

.variable-slider .slick-arrow.slick-next {
  right: 0px;

  background: url('./../images/svg/slider-arrow-right.svg') 0 0 / 100% no-repeat;
}

.variable-slider .slick-arrow.slick-next:hover,
.variable-slider .slick-arrow.slick-next:focus {
  background: url('./../images/svg/slider-arrow-yellow-right.svg') 0 0 / 100%
    no-repeat;
}

.variable-slider .slick-dotted.slick-slider {
  margin-bottom: 16px;

  @media screen and (min-width: $tablet) {
    margin-bottom: 24px;
  }

  @media screen and (min-width: $desktop) {
    margin-bottom: 32px;
  }
}
